
.bo_bg {
    background: #fff;
}

.top-menu input {
    width: 150px;
}

.top-menu label {
    padding-left: 5px;
    padding-right: 5px;
}

.menu-left {
    display: inline-block;
    margin-top: 15px;
}
.menu-input-group {
    display: inline-block;
    width:368px;
    margin-right: 30px;
}

.tnc_zc_headlist {
    position: relative;
    width: 100%;
    height: 132px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.tnc_dz_conbox{
    padding: 20px 0;
    height: 132px;
}

.tnc_h1{
    float:left;
}

.tnc_zc_main1 {
    margin: 0 auto;
    position: relative;
}

.tnc_choose_ul {
    float: left;
    width: 1040px;
}

.tnc_ch_box {
    float: left;
}

.tnc_c_car {
    display: inline-block;
    font-size: 14px;
    color: #2f2f39;
    border: 1px solid #e9ebee;
    text-align: center;
    line-height: 38px;
}

.tnc_inpcity {
    height: 40px;
    color: #6c757d;
    font-size: 14px;
    padding: 10px;
}

.tnc_inpstore {
    height: 40px;
    border-left: none;
    color: #6c757d;
    font-size: 14px;
    padding: 10px;
}

.tnc_input_citySD {
    background: url(../img/input_down.png) no-repeat center right;
}

.tnc_input_text {
    border-radius: 0;
    padding: 10px 10px;
    border: 1px solid #e9ebee;
    border-left: none;
    font: 14px/18px "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial, sans-serif;
    outline: 0;
    color: #93939e;
    vertical-align: middle;
    background-color: #fff;
}

.tnc_label{
    border: none;
    height: 40px;
    line-height: 38px;
    float: left;
}

.tnc_cartext{
    font-size: 12px;
    margin-left: 25px;
    color: #93939e;
}

.tnc_cardate{
    margin-left: 35px;
    position: relative;
    z-index: 3;
}

.tnc_c_date{
    display: inline-block;
    font-size: 14px;
    color: #2f2f39;
    border: 1px solid #e9ebee;
    text-align: center;
    line-height: 38px;

}

.tnc_c_time{
    position: absolute;
    font-size: 14px;
    color: #939a9f;
    height: 20px;
    line-height: 20px;
    top: 11px;
    right: 174px;
}

.tnc_divin {
    display: inline;
}

.tnc_cartime {
}

.tnc_inpdate {
    height: 40px;
    padding: 10px;
    color: #60606c;
}

.tnc_inptime {
    height: 40px;
    border-left: none;
    padding: 10px;
    color: #60606c;
}

.tnc_mt10 {
    margin-top: 5px;
}
.tnc_p-re {
    position: relative;
}

.tnc_choose_div{

}

.tnc_bred {
    color: #00c189;
    font-style: normal;
}

.tnc_choose_div i {
    color: #939a9f;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 12px;
    display: block;
    font-style: normal;
    text-align: left;
}

:root {
    --tnc_green: #00c189;
}

.tnc2_btn {
    background-color: #fafbfc;
    cursor: pointer;
    display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin: 2px;
    text-align: center;
    color: #606060;
    border-radius: 3px;
    border: 1px solid #e4e6e9;
    outline: 0;
}

.tnc_btn:hover {
    border: 1px solid var(--tnc_green);
    background-color: var(--tnc_green);
    color: #ffffff !important;
    text-decoration: none;
    outline: 0;
}

.tnc_btn_green {
    background-color: var(--tnc_green);
    color: #ffffff !important;
    border-radius: 3px;
    border: 1px solid var(--tnc_green);
}


.tnc_btn_green:hover {
    border: 1px solid #1e9f75;
    background-color: #1e9f75;
    color: #fff !important;
    text-decoration: none;
}
