/*header样式*/

:root {
    --tnc_green: #00c189;
}

.tnc_container {
    padding-left: 0px;
    padding-right: 0px;
}

.tnc_head_bg {
    border-top: 2px solid var(--tnc_green);
    background-color: #1b2b3b;
}

.tnc_head_bd {
    height: 58px;
    font-size: 14px !important;
    padding: 0px;
}

.tnc_head_bd .tnc_logo {
    display: block;
    width: 211px;
    top: 0;
    left: 0;
    height: 58px;
    background: url("../img/logo.png") no-repeat;
    z-index: 10;
}

.tnc_gray_bg {
    background-color: #f2f3f5;
}

@media (min-width: 1000px) {
    .tnc_head_bd {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

.tnc_head_brand {
    float: left;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    color: var(--tnc_green);
}

.show {
    background-color: #1b2b3b;
    z-index: 999;
}

.tnc_head_menu li .nav-link {
    padding-left: 1rem !important;
}

/*重写bootstrap navbar高亮字体颜色*/
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: var(--tnc_green);
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--tnc_green);
}
/*去除row外边距*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}

.carousel-item img{
    max-width: 100%;
    height:auto;
}
