body {
    background-color: #f2f3f5;
    padding: 0px 0px !important;
}
.info_bd {
    min-height: 600px;
    padding: 0 30px;
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(228, 230, 233, 1);
}
.info_h2 {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    color: #60606c;
    font-weight: 400;
    margin: 0;
}
.info_bd li {
    height: 60px;
    border-bottom: 1px solid #e9ebee;
}
.info_bd ul {
    border-top: 1px solid #e9ebee;
}
.info_label {
    display: inline-block;
    line-height: 59px;
    width: 215px;
    padding-left: 15px;
    font-size: 14px;
    color: #60606c;
    margin: 0;
}
.info_span {
    position: relative;
    margin: 0;
    line-height: 59px;
    width: 320px;
    z-index: 18;
}
.info_input {
    width: 100%;
}
.info_float_r {
    line-height: 59px;
    padding-right: 15px;
    color: #c6c6ce;
    font-size: 14px;
}
.info_select {
    width: 100%;
    margin-bottom: -2px;
}
.info_input:focus {
    color: rgb(96, 96, 108);
}
.clear {
    clear: both;
}
.info_changephone {
    color: #6ab0ff;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    display: block;
    text-align: center;
}
.info_code {
    background-color: #d2fbe0;
    display: inline-block;
    float: right;
    width: 46%;
    height: 38px;
    margin-top: 5px
}
.infoleft_bd {
    background-color: #fff
}
.infoleft_bd dt {
    padding-left: 14px;
    border-bottom: 1px solid #e9ebee;
    border-top: 1px solid #e9ebee;
    margin-top: -1px;
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #60606c;
    position: relative;
}
.infoleft_bd dl,dd {
    margin-bottom: 0;
}
.infoleft_bd a {
    display: block;
    padding-left: 17px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #93939e;
    font-weight: 400;
    text-decoration: none;
    outline: 0;
}
.infoleft_bd a:hover {
    text-decoration: none;
    color: #00c189;
    background-color: #d2fbe0;
}
.infoleft_a{
    text-decoration: none !important;
    color: #00c189 !important;
    background-color: #d2fbe0 !important ;
}
.modal_hd_color {
    height: 50px;
    line-height: 50px;
    background-color: #f3f4f6;
    position: relative;
}
.vcodeinput {
    display: flex;
    align-items: center;
    justify-content: center;
}
.zc-fresh {
    display: inline-block;
    background: url("/img/icon_new.png") no-repeat;
    width: 16px;
    height: 16px;
    background-position: -520px 0;
    position: absolute;
    top: 94px;
    right: 72px;
    z-index: 15;
}
.myleft {
    margin-top: 15px; padding-right: 0;
}
.myright {
    margin: 15px 0px;
}
.myborder-line {
    border-top: 1px solid #e9ebee;
    border-bottom: 1px solid #e9ebee;
}
.mybtndiv {
    height: 100px; line-height: 100px; margin-left: 215px
}
.coupon_hd_outdiv {
    display: inline-block;
    width: 40.78%;
    vertical-align: middle;
    position: relative;
    left: 47%;
}
.coupon_hd {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    float: right;
    width: 100%;
}
.coupon_hd div {
    display: inline-block;
    height: 30px;
    width: 24.24%;
    cursor: pointer;
    text-align: center;
    margin-left: -5px;
}
.coupon_hd span:hover {
    background-color: #92eaa1;
    border: 1px solid #92eaa1;
    color: #ffffff;
}
.coupon_a_stop{
    background-color: #92eaa1 !important;
    border: 1px solid #92eaa1 !important;
    color: #ffffff !important;
}
.coupon_hd span{
    display: block;
    border: 1px solid #e9ebee;
    background-color: #f8f8fa;
    width: 100%;
    height: 100%;
    color: #93939e;
}
.zc-safepsw {
    padding-top: 20px;
}

.zc-safepsw span {
    float: left;
    width: 31%;
    height: 20px;
    line-height: 20px;
    background-color: #f2f3f5;
    text-align: center;
    font-size: 12px;
    color: #93939e;
    border: 1px solid #e9ebee;
    border-right: none;
}
.zc-safepsw .safe_3 {
    border-right: 1px solid #e9ebee
}
.zc-safepsw_1 .safe_1 {
    background-color: #e42437d9;
    border: 1px solid #e42437d9;
    color: #f8f9fa
}

.zc-safepsw_1 .safe_2 {
    border-left: none
}

.zc-safepsw_2 .safe_1 {
    background-color: #e42437d9;
    border: 1px solid #e42437d9;
    color: #f8f9fa
}

.zc-safepsw_2 .safe_2 {
    background-color: #fdb811;
    border: 1px solid #fdb811;
    border-left: none;
    color: #f8f9fa
}

.zc-safepsw_2 .safe_3 {
    border-left: none
}

.zc-safepsw_3 .safe_1 {
    background-color: #e42437d9;
    border: 1px solid #e42437d9;
    color: #f8f9fa
}

.zc-safepsw_3 .safe_2 {
    background-color: #fdb811;
    border: 1px solid #fdb811;
    border-left: none;
    color: #f8f9fa
}

.zc-safepsw_3 .safe_3 {
    background-color: #00c189;
    border: 1px solid #00c189;
    border-left: none;
    color: #f8f9fa
}

.safetybg_1 span.safety_1 {
    background: #fdb811
}

.safetybg_2 span.safety_1,.safetybg_2 span.safety_2 {
    background: #fdb811
}

.safetybg_3 span.safety_1,.safetybg_3 span.safety_2,.safetybg_3 span.safety_3 {
    background: #fdb811
}
