<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正在跳转...</title>

</head>
<body>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/layui-v2.4.3/lay/modules/layer.js"></script>
<script src="/bootstrap-4.1.3/js/bootstrap.min.js"></script>
<script src="/vue-2.5.17/vue.min.js"></script>
<script src="/js/common/common.js"></script>
<script src="/js/tenancy/header.js"></script>
<script src="/js/tenancy/getParam.js"></script>
<script src="/js/tenancy/aliPaySuccess.js"></script>



</body>
</html>