<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乘风租车————全球租车领导品牌</title>

	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/bootstrap-4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/annualRentOrder.css"/>
</head>
<body class="zc_index">
<div class="container-fluid tnc_container tnc_header">
	<div v-cloak id="header-app" class="row tnc_head">
		<div class="tnc_head_bd">
			<div><a class="tnc_head_brand tnc_logo" href="/"></a></div>
			<div class="tnc_head_menu" >
				<ul class="">
					<li class="tnc_head_menu_item">
						<a class="tnc_head_menu_active" href="/">首页 <span class="sr-only">(current)</span></a>
					</li>
					<li class="tnc_head_menu_item">
						<a class="" href="/headList">选车</a>
					</li>
					<li class="tnc_head_menu_item">
						<a class="" href="/storesMap">门店</a>
					</li>
				</ul>
			</div>
			<div class="tnc_head_right">
				<div v-show="!customer.id" class="tnc_head_login tnc_header_active" style="display: none">
					<a href="login" class="">登录</a> / <a href="/register" class="">注册</a>
				</div>
				<div v-show="customer.id" class="tnc_head_login" >
					<h1 class="tnc_head_welcome">您好，{{customer.name}}</h1>
					<div id="tnc_toggle_area" class="tnc_head_dropdown">
						<a id="tnc_toggle_area_btn" href="/tenancy/p/myOrderList">个人中心&nbsp;<i class="fa fa-caret-down"></i></a>
						<div id="tnc_toggle_menu" style="display: none">
							<div class="triangle_border_up"></div>
							<div class="tnc_collapse_list" >
								<a href="/tenancy/p/myOrderList" class="bhpr reddot">我的订单</a>
								<a href="/tenancy/p/coupon">我的资产</a>
								<a href="/tenancy/p/personInfo">我的账户</a>
								<a href="javascript:;" @click="logout">退出登录</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tnc_head_tel">
					<div class="">
                            <span class="">
                                <i class="fa fa-phone"></i>
                                <span>408-666-666</span>
                            </span>
					</div>
				</div>
			</div>
		</div>
	</div>
	

<div class="cffade"></div>
	<div class="zc_intention orderDetails" v-cloak>
		<div class="zc_yearLSC_wrap">
			<div class="newpg-proce pre">
				<div class="car-info">
					<div class="ifl" id="config">
	                    <img v-bind:src="carPicPath" alt="" width="180" height="105">
	                    <div class="lin">
	                        <p class="lp1">{{carInfo.tncBrand.name}}{{carInfo.series}}</p>
							<p class="lp2" v-if="carInfo.transmissionType=='MT'">{{carInfo.boxQuantity}}厢/{{carInfo.displacement/1000}}手动 | 乘坐{{carInfo.seatQuantity}}人</p>
							<p class="lp2" v-else>{{carInfo.boxQuantity}}厢/{{carInfo.displacement/1000}}手动 | 乘坐{{carInfo.seatQuantity}}人</p>
	                        <p class="lp3"><i class="year-zq"></i>租期：<span class="or-co">{{baseInfo.days}}</span>天，不限里程</p>
	                        <div class="base-btn">
								<input class="tnc_btn tnc_btn_green look-config" value="查看配置信息" type="button" data-toggle="modal" data-target="#car-details">

								<a class="tnc_btn tnc_btn_outline_green look-change" value="tnc_btn tnc_btn_outline_green">修改订单</a>
	                        </div>
	                    </div>
						<div class="modal fade" id="car-details">
							<div class="modal-dialog" style="max-width:600px;">
								<div class="modal-content">

									<!-- 模态框头部 -->
									<div class="modal-header">
										<h4 class="modal-title">{{carInfo.tncBrand.name}}{{carInfo.series}}配置信息</h4>
										<button type="button" class="close" data-dismiss="modal">&times;</button>
									</div>

									<!-- 模态框主体 -->
									<div class="modal-body">
										<div class="cflist">
											<ul>
												<li>
													<b class="zws">&nbsp;</b>座 位 数：
													<span>
										{{carInfo.seatQuantity}}
								</span>
												</li>
												<li>
													<b class="cms">&nbsp;</b>车 门 数：
													<span>
										{{carInfo.doorQuantity}}
								</span>
												</li>
												<li>
													<b class="rllx">&nbsp;</b>燃料类型：
													<span>
										{{carInfo.fuelType}}
								</span>
												</li>
												<li>
													<b class="bsxlx">&nbsp;</b>变速箱类型：
													<span>
										{{carInfo.transmissionType}}
								</span>
												</li>
												<li>
													<b class="pl">&nbsp;</b>排　　量：
													<span>{{carInfo.displacement}}</span>
												</li>
												<li>
													<b class="rybh">&nbsp;</b>燃油标号：
													<span>
										{{carInfo.octaneRating}}
								</span>
												</li>
												<li>
													<b class="qdfs">&nbsp;</b>驱动方式：
													<span>
										{{carInfo.drivenMethod}}
								</span>
												</li>
												<li>
													<b class="fdjjqxs">&nbsp;</b>发动机进气形式：
													<span>
										{{carInfo.enItkForm}}
								</span>
												</li>
												<li>
													<b class="tc">&nbsp;</b>天　　窗：
													<span v-if="carInfo.skylight==0">
										无
								</span>
													<span v-else>
										有
								</span>
												</li>
												<li>
													<b class="yxrl">&nbsp;</b>油箱容量：
													<span>
										{{carInfo.tankCapacity}}
								</span>
												</li>
												<li>
													<b class="yx">&nbsp;</b>音　　箱：
													<span>
										{{carInfo.speaker}}
								</span>
												</li>
												<li>
													<b class="zy">&nbsp;</b>座　　椅：
													<span>
										{{carInfo.seat}}
								</span>
												</li>
												<li>
													<b class="dcld">&nbsp;</b>倒车雷达：
													<span v-if="carInfo.reversingRadar==0">
										无
								</span>
													<span v-else>
										有
								</span>
												</li>
												<li>
													<b class="qin">&nbsp;</b>气　　囊：
													<span>
										{{carInfo.airbag}}
								</span>
												</li>
												<li class="nonebd">
													<b class="dvd">&nbsp;</b>DVD / CD：
													<span>
										{{carInfo.dvdCd}}
								</span>
												</li>
												<li class="nonebd">
													<b class="gps">&nbsp;</b>GPS导航：
													<span v-if="carInfo.gps==0">
										无
								</span>
													<span v-else>
										有
								</span>
												</li>
											</ul>
										</div>
									</div>

								</div>
							</div>
						</div>
	                </div>
	                <ul class="ifr">
	                    <li>
	                        <p class="le line1">
	                            <i class="ifr-qc"></i>
	                            <span>取车</span>
	                        </p>
	                        <p class="le line2">
	                            <i class="ifr-time"></i>
	                            <span>{{baseInfo.getDate}} {{baseInfo.getTime}}</span>
	                        </p>
	                        <p class="le line3">
	                            <i class="ifr-local"></i>
	                            <span>{{baseInfo.getCity}}&nbsp;{{baseInfo.getStore}}</span>
	                        </p>
	                    </li>
	                    <li>
	                        <p class="le line1">
	                            <i class="ifr-hc"></i>
	                            <span>还车</span>
	                        </p>
	                        <p class="le line2">
	                            <i class="ifr-time"></i>
	                            <span>{{baseInfo.returnDate}} {{baseInfo.returnTime}}</span>
	                        </p>
	                        <p class="le line3">
	                            <i class="ifr-local"></i>
	                            <span>{{baseInfo.returnCity}}&nbsp;{{baseInfo.returnStore}}</span>
	                        </p>
	                    </li>
	                </ul>
				</div>
			</div>
			<div class="newpg-conf">
				<div class="newpg-con" id="orderInfo">
					<!--判断个人中心中这些信息是否已填写-->
					<!--v-if="customerInfo.email==''||customerInfo.idCard==''"-->
	<div class="memberInfo">
		<h3>租车人信息<span class="ifred">请认真填写一下信息，取车时需要现场核对！</span></h3>
		<div class="partInfo">
						 <form class="form-info">
							
								<div class="formGrop" style="position:relative;">
									<div class="name-label"><i style="color:red;">*&nbsp&nbsp</i>姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名</div>
									<input name="xname" id="xname" style="margin-left:15px;" class="tnc_input" type="text" placeholder=请输入您的姓名 default-value="请输入您的姓名" value="" maxlength="50" @blur="checkMemberFormName">
									<div class="order-errorbox order-erpos" style="display: none;">
										<span class="arout">◆<span class="arin">◆</span></span>
										<span class="zc-retan"></span>
										<i class="err-con" id="nameInfo">请输入真实姓名！</i>
										<span class="zc-close"></span>
									</div>
									
								</div>
								<div class="formGrop">
									<div class="name-label"><i style="color:red;">*&nbsp&nbsp</i>证件类型</div>
									<select class="tnc_input" style="width:240px;height:30px;margin-left:15px;padding:0 9px;" id="xcardtype" default-value="请选择证件类型">
										<option class="op" value="1">身份证</option>
										<option class="op" value="2">台湾居民来往大陆通行证</option>
										<option class="op" value="3">港澳居民来往内地通行证</option>
										<option class="op" value="4">外籍护照</option>
									</select>
								</div>
								<div class="formGrop" style="position:relative;">
									<div class="name-label"><i style="color:red;">*&nbsp&nbsp</i>证件号码</div>
									<input value="" class="tnc_input" style="margin-left:15px;" @blur="checkMemberIdentitycard" name="xidentitycard" placeholder=请输入证件号码 default-value="请输入证件号码" id="xidentitycard" maxlength="20" type="text">
									<div class="order-errorbox1 order-erpos1" style="display: none;">
										<span class="arout">◆<span class="arin">◆</span></span>
										<span class="zc-retan"></span>
										<i class="err-con" id="identitycardInfo">请输入证件号码！</i>
										<span class="zc-close"></span>
									</div>
								</div>
								<div class="formGrop" style="position:relative;">
									<div class="name-label">&nbsp&nbsp&nbsp&nbsp邮&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp箱</div>
									<input default-value="请输入邮箱" style="margin-left:15px;" placeholder=请输入邮箱 class="tnc_input" value="" id="memberEmail" name="xemail" @blur="checkMemberEmail" maxlength="50" type="text">
									<div class="order-errorbox2 order-erpos2" style="display: none;">
										<span class="arout">◆<span class="arin">◆</span></span>
										<span class="zc-retan"></span>
										<i class="err-con" id="emailInfo">您输入的邮箱地址有误，请认真核实！</i>
										<span class="zc-close"></span>
									</div>
									<!-- <div class="" style="display:flex;margin-left:20px;"> -->
										<input class="tnc_input acceptInfo" type="checkbox" >
										<p style="margin: 0 0 0 4px">希望接收租车优惠信息</p>
									<!-- </div> -->
								</div>
							
						</form>
					</div>
	</div>
						<div class="info-msg">
							<p>下单成功后，提醒信息会发送至手机
								<i id="mmid">{{phoneCopy}}</i>
								<a href="javascript:void(0)" data-toggle="modal" data-target="#modifyModel" @click="changeImageVerifyCode">[修改]</a>
							</p>
						</div>
						<div class="papers-tip">
							<p>取车时,出示以下证件的原件：本人二代身份证、本人国内有效驾驶证正副本、本人一张信用及可用额度均不低于3000元的国内有效信用卡，所有证件有效期须至少超过当次租期的两个月以上。</p>
						</div>
						<div>
		                    <h3>费用明细</h3>
		                    <ul class="b-warp">
		                        <li><span class="pa">车型押金</span><span class="yell-col">¥{{baseInfo.deposit}}</span></li>
		                        <li>
		                            <span class="pa">租金支付</span>
		                            		<label class="l-t-w ltwcur" style="line-height:38px;">
			                                	<input value="3" name="payment" id="one" checked="" type="radio">
			                                	一次性支付
			                            	</label>
		                            		<!--<label class="l-t-w ">-->
			                                	<!--<input value="2" name="payment" id="part" type="radio">-->
			                                	<!--按半年支付-->
			                                	<!--<br>约<em>{{baseInfo.order_price_sum/2}}</em><em>/期</em>-->
			                            	<!--</label>-->
		                            		<!--<label class="l-t-w ">-->
			                                	<!--<input value="1" name="payment" id="season" type="radio">-->
			                                	<!--按季度支付-->
			                                	<!--<br>约<em>{{baseInfo.order_price_sum/4}}</em><em>/期</em>-->
			                            	<!--</label>-->
		                            <div class="clear"></div>
		                        </li>
								<li>
									<span class="pa">优惠券</span>
									<ul style="display: flex;flex-wrap: wrap;" id="coupons" v-if="coupons.length>0">
										<li class="coupon-ok" style="padding-left: 0px" v-for="coupon in coupons" v-bind:title="coupon.description">
											<div class="amount">
												<span class="moneyamount"><em>¥</em>{{coupon.amount}}</span>
												<span class="moneyid" hidden="hidden">{{coupon.id}}</span>
											</div>
											<div class="time">
												<i class="zc_time_icon"></i>　有效期 : {{coupon.beginDate}}~{{coupon.endDate}}
											</div>
											<span class="zc-sprite zc-coupon-checked"></span>
										</li>
									</ul>
									<span class="yell-col" style="color: #9F9F9F;" v-else>无可用</span>
								</li>
								<li><span class="pa">其他费用</span><span class="yell-col">整备费（¥20/辆）</span></li>
								<li class="pb10"><span class="pa">年租费用</span>
									<span class="f14">约¥
										{{baseInfo.base_price*priceSchemeInfo.discount+baseInfo.service_price*priceSchemeInfo.discount}}
										<span style="color:#9F9F9F;text-decoration:line-through;" v-if="priceSchemeInfo.discount<1">{{baseInfo.base_price+baseInfo.service_price}}</span>
										/天*{{baseInfo.days}}天 </span>
									<span class="f14"> + ¥{{baseInfo.prepare_cost}}</span>
									<span class="f14" v-if="baseInfo.coupon>0"> - ¥	{{baseInfo.coupon}}</span>
									<span class="yell-col f18"> = ¥{{baseInfo.order_price_sum}}</span>
								</li>
		                    </ul>
		                </div>
		                <div class="intent-list-info">
		                	<ul class="iliTabs">
		                        <li link="enterprise" class="ilicur" renttype="2">注意</li>
		                    </ul>
		                    <div class="iliContents intention_section ilicur">
		                    	<dl>
		                            <dt>需提供证件 </dt>
		                            <dd class="enterprise">　　取车时请携带：本人二代身份证、本人驾驶证、正副本、信用卡或借记卡；</dd>
		                            <dd class="enterprise">　　所有证件均需原件且为国内有效，有效期至少超过当次租期一个月以上</dd>
		                        </dl>
		                        <dl>
		                            <dt>预订规则 </dt>
		                            <dd>　　1、提交后，我们的工作人员会向您致电了解详细用车需求后为您安排车辆，在此期间，您可以取消订单。</dd>
		                            <dd>　　2、如需修改订单，请在门店营业时间前2个工作小时以上致电400 616 6666。若神州租车车辆可以满足更改订单的需求，可以为您修改订单。</dd>
		                        </dl>
		                        <ul>
		                            <li class="form-action">
		                                <button id="J_btnSubmit" class="zc-btn btn-submit" type="button" @click="submitOrder">提交订单</button>
		                            </li>
		                        </ul>
		                    </div>
		                </div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/layui-v2.4.3/lay/modules/layer.js"></script>
<script src="/bootstrap-4.1.3/js/bootstrap.min.js"></script>
<script src="/vue-2.5.17/vue.min.js"></script>
<script src="/js/common/common.js"></script>
<script src="/js/tenancy/getParam.js"></script>
<script src="/js/tenancy/beginReserve.js"></script>
<script src="/js/tenancy/annualRentOrder.js"></script>
<script src="/js/tenancy/header.js"></script>


</body>
</html>
