<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:border-top="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>优惠券页</title>
</head>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/bootstrap-4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/personInfo.css">
<body>
<div class="container-fluid tnc_container tnc_header">
    <div v-cloak id="header-app" class="row tnc_head">
        <div class="tnc_head_bd">
            <div><a class="tnc_head_brand tnc_logo" href="/"></a></div>
            <div class="tnc_head_menu" >
                <ul class="">
                    <li class="tnc_head_menu_item">
                        <a class="tnc_head_menu_active" href="/">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="tnc_head_menu_item">
                        <a class="" href="/headList">选车</a>
                    </li>
                    <li class="tnc_head_menu_item">
                        <a class="" href="/storesMap">门店</a>
                    </li>
                </ul>
            </div>
            <div class="tnc_head_right">
                <div v-show="!customer.id" class="tnc_head_login tnc_header_active" style="display: none">
                    <a href="login" class="">登录</a> / <a href="/register" class="">注册</a>
                </div>
                <div v-show="customer.id" class="tnc_head_login" >
                    <h1 class="tnc_head_welcome">您好，{{customer.name}}</h1>
                    <div id="tnc_toggle_area" class="tnc_head_dropdown">
                        <a id="tnc_toggle_area_btn" href="/tenancy/p/myOrderList">个人中心&nbsp;<i class="fa fa-caret-down"></i></a>
                        <div id="tnc_toggle_menu" style="display: none">
                            <div class="triangle_border_up"></div>
                            <div class="tnc_collapse_list" >
                                <a href="/tenancy/p/myOrderList" class="bhpr reddot">我的订单</a>
                                <a href="/tenancy/p/coupon">我的资产</a>
                                <a href="/tenancy/p/personInfo">我的账户</a>
                                <a href="javascript:;" @click="logout">退出登录</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tnc_head_tel">
                    <div class="">
                            <span class="">
                                <i class="fa fa-phone"></i>
                                <span>408-666-666</span>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-3 myleft offset-md-1">
            <div class="infoleft_bd">
                <dl>
                    <dt class="info_h2">订单中心</dt>
                    <dd><a href="/tenancy/p/myOrderList" id="left_myOrder">我的订单</a></dd>
                </dl>
                <dl>
                    <dt class="info_h2">我的账户</dt>
                    <dd><a href="/tenancy/p/personInfo" id="left_myInfo">我的信息</a></dd>
                    <dd><a href="/tenancy/p/updatePassword" id="left_updatePwd">修改密码</a></dd>
                    <dd><a href="/tenancy/p/coupon" id="left_coupon">优惠券
                        <span id="couponCount"></span></a></dd>
                    <dd><a href="/tenancy/p/usablePoint" id="left_point">可用积分
                        <span id="pointNum"></span></a></dd>
                </dl>
                <dl>
                    <dt class="info_h2">积分商城</dt>
                    <dd><a href="/tenancy/p/pointMall" id="left_pointMall">积分商城</a></dd>
                </dl>
            </div>
        </div>
        <div class="col-md-8 col-sm-9 myright">
            <div class="info_bd" id="couponInfo">
                <div>
                    <h2 class="info_h2">我的优惠券</h2>
                    <div class="coupon_hd_outdiv">
                        <div class="coupon_hd">
                            <div @click="selectCoupon(3)"><span id="coupon_a_all">全部</span></div>
                            <div @click="selectCoupon(0)"><span id="coupon_a_unuse">未使用</span></div>
                            <div @click="selectCoupon(1)"><span id="coupon_a_used">已使用</span></div>
                            <div @click="selectCoupon(2)"><span id="coupon_a_overdue">已过期</span></div>
                        </div>
                    </div>
                </div>
                <div style="clear: both"></div>
                <div class="myborder-line" >
                    <!--body-->
                    <div class="coupon_bd">
                        <!--未使用-->
                        <div class="coupon coupon_unuse" v-for="item in coupons" v-if="item.status==0" >
                            <div class="amount">
                                <span class="moneyamount">
                                    <em>¥{{item.amount}}</em>
                                </span>
                            </div>
                            <div class="logo"></div>
                            <div class="time">
                                <div class="zc_time_icon"></div>
                                有效期：{{item.beginDate | monent}}-{{item.endDate | monent}}
                                <div class="gbyhqexplain">
                                    <a href="javascript:void(0);" class="adow"  data-toggle="modal" data-target="#detailDescripe">
                                        详细说明
                                        <i></i>
                                    </a>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                        <!--已使用-->
                        <div class="coupon coupon_used" v-for="item in coupons" v-if="item.status==1">
                            <div class="null_amount">
                                <span class="moneyamount" style="color: #60606c38">
                                    <em>¥{{item.amount}}</em>
                                </span>
                            </div>
                            <div class="used"></div>
                            <div class="null_time">
                                <div class="zc_time_icon"></div>
                                有效期：{{item.beginDate | monent}}-{{item.endDate | monent}}
                                <div style="clear: both"></div>
                            </div>
                        </div>
                        <!--已过期-->
                        <div class="coupon coupon_overdue" v-for="item in coupons" v-if="item.status==2">
                            <div class="null_amount">
                                <span class="moneyamount" style="color: #60606c38">
                                    <em>¥{{item.amount}}</em>
                                </span>
                            </div>
                            <div class="overdue"></div>
                            <div class="null_time">
                                <div class="zc_time_icon"></div>
                                有效期：{{item.beginDate | monent}}-{{item.endDate | monent}}
                                <div style="clear: both"></div>
                            </div>
                        </div>
                        <div class="coupon">
                            <img class="zc_coupon_simulation" src="/img/nullCoupon.png"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row tnc_footer_background">
        <div class="col col-md-10 offset-md-1 tnc_footer_help">
            <dl class="tnc_footer_help_item">
                <dt>租车预订说明</dt>
                <dd>
                    <a target="_blank" href="#">服务时间</a>
                    <a target="_blank" href="#">待租车况</a>
                    <a target="_blank" href="#">服务预订</a>
                    <a target="_blank" href="#">短租产品</a>
                    <a target="_blank" href="#">租车资格</a>
                    <a target="_blank" href="#">取还车说明</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>会员管理</dt>
                <dd>
                    <a target="_blank" href="#">会员章程</a>
                    <a target="_blank" href="#">会员细则</a>
                    <a target="_blank" href="#">定级积分</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>紧急事务处理</dt>
                <dd>
                    <a target="_blank" href="#">保险责任</a>
                    <a target="_blank" href="#">理赔说明</a>
                    <a target="_blank" href="#">事故处理</a>
                    <a target="_blank" href="#">救援及备用车</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>租车费用及结算</dt>
                <dd>
                    <a target="_blank" href="#">价格说明</a>
                    <a target="_blank" href="#">结算流程</a>
                    <a target="_blank" href="#">储值卡</a>
                    <a target="_blank" href="#">积分</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>帮助中心</dt>
                <dd>
                    <a target="_blank" href="#">常见问题</a>
                    <a target="_blank" href="#">新手上路</a>
                    <a target="_blank" href="#">服务规则 </a>
                </dd>
            </dl>
            </dl>
        </div>
    </div>
    <div class="row tnc_footer_link" style="background-color: #1b2b3b;">
        <div class="col col-10 offset-md-1 tnc_about_link">
            <a title="关于我们" href="https://huodong.zuche.com/gywm/" rel="nofollow">关于我们</a>
            <a title="投资者关系" target="_blank" href="https://ir.zuche.com" rel="nofollow">投资者关系</a>
            <a target="_parent" title="新闻中心" href="https://news.zuche.com/">新闻中心</a>
            <a title="加盟合作" target="_blank" href="https://jiameng.zuche.com">加盟合作</a>
            <a title="隐私保护" target="_parent" href="https://huodong.zuche.com/ysbh/" rel="nofollow">隐私保护</a>
            <a title="网站导航" target="_parent" href="https://help.zuche.com/sitemap/">网站导航</a>
            <a title="联系我们" target="_parent" href="https://huodong.zuche.com/lxwm/" rel="nofollow">联系我们</a>
            <a title="招贤纳士" target="_blank" href="http://hr.ucarinc.com/" rel="nofollow">招贤纳士</a>
            <a target="_blank" href="https://en.zuche.com" class="eng_wz">English<i class="eng_icon"></i></a>
        </div>
        <div class="col col-10 offset-md-1 tnc_copyright">
            <span class="">Copyright©20xx-20xx www.wind.zuche.com All Rights Reserved.　肇庆乘风汽车租赁有限公司 粤ICP备10000518号   粤公网安备号 11010502020518</span>
            <span class="">如果您对乘风租车网站有任何意见，欢迎发送邮件到 <a href="Mailto:web@wind.com" class="">web@wind.com</a></span>
            <span class="">
                    <a target="_blank"
                       href="https://ss.knet.cn/verifyseal.dll?sn=2011091400100014977&amp;ct=df&amp;pa=294005"
                       rel="nofollow" tabindex="-1" id="urlknet" class="sz_k"></a>
                    <a target="_blank" id="___szfw_logo___" href="https://search.szfw.org/cert/l/CX20121016001772002081"
                       rel="nofollow" title="诚信网站" class="sz_c"></a>
                </span>
        </div>
    </div>
</div>
<!--模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="detailDescripe">
    <div class="modal-dialog" style="margin: 6rem auto" role="document">
        <div class="modal-content">
            <div class="modal-header modal_hd_color">
                <p class="modal-title" style="font-size: 16px">详细说明</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="float: right" aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body vcodeinput" style="height: 230px">
                使用规则
                <br><br>
                    1.实际租期2天及以上的订单可用，优惠券平日、周末、法定节假日均可使用;
                <br>
                    2.不与顺风车、预付特价、其他优惠活动、优惠类电子券同享;
                <br>
                    3.此优惠仅限每人享受1次,每单限用1张，限本人使用;
                <br>
                    4.代金券不可转让、不开发票、不找零、不兑换现金；
                <br><br>
                使用范围
                <br><br>
                    全国各城市直营门店、不限制车型;

            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/layui-v2.4.3/lay/modules/layer.js"></script>
<script src="/bootstrap-4.1.3/js/bootstrap.min.js"></script>
<script src="/vue-2.5.17/vue.min.js"></script>
<script src="/js/common/common.js"></script>
<script src="/js/tenancy/header.js"></script>
<script src="/js/tenancy/coupon.js"></script>
<script>
    $(document).ready(function () {
        $("#coupon_a_all").addClass('coupon_a_stop');
        $("#left_coupon").addClass('infoleft_a');
    });
</script>
</html>