<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/bootstrap-4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="/bootstrap-4.1.3/css/bootstrap-grid.css">
<link rel="stylesheet" href="/bootstrap-4.1.3/css/bootstrap-reboot.css">
<link rel="stylesheet" href="/layui-v2.4.3/css/layui.css" media="all">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/headList.css">
<link rel="stylesheet" href="/css/leftList.css">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/car_tabs.css">
<head>
    <meta charset="UTF-8">
    <title>头部列表</title>
    <style>
        body {
            background-color: #f2f3f5;
            padding: 0px 0px !important;
        }
    </style>
</head>
<body onbeforeunload="Sx()">
<div class="container-fluid tnc_container tnc_header" v-cloak id="carInfoTab-app">
    <div class="row tnc_head">
        <div class="tnc_head_bd">
            <div><a class="tnc_head_brand tnc_logo" href="/"></a></div>
            <div class="tnc_head_menu">
                <ul class="">
                    <li class="tnc_head_menu_item">
                        <a class="tnc_head_menu_active" href="/">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="tnc_head_menu_item">
                        <a class="" href="#">选车</a>
                    </li>
                    <li class="tnc_head_menu_item">
                        <a class="" href="#">门店</a>
                    </li>
                </ul>
            </div>
            <div class="tnc_head_right">
                <div class="tnc_head_login tnc_header_active" style="display: none">
                    <a href="#" class="">登录</a> / <a href="#" class="">注册</a>
                </div>
                <div class="tnc_head_login">
                    <h1 class="tnc_head_welcome">您好，梁***</h1>
                    <div id="tnc_toggle_area" class="tnc_head_dropdown">
                        <a id="tnc_toggle_area_btn" href="#">个人中心&nbsp;<i class="fa fa-caret-down"></i></a>
                        <div id="tnc_toggle_menu" style="display: none">
                            <div class="triangle_border_up"></div>
                            <div class="tnc_collapse_list">
                                <a href="#" class="bhpr reddot">我的订单</a>
                                <a href="#">我的资产</a>
                                <a href="#">我的账户</a>
                                <a href="#">退出登录</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tnc_head_tel">
                    <div class="">
                            <span class="">
                                <i class="fa fa-phone"></i>
                                <span>408-666-666</span>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <from id="firstOrderInfo" >
        <div class="row bo_bg">
            <div class="col-md-12 col-lg-10 offset-lg-1 col-sm-12">
                <div class="menu-left">
                    <div class="menu-input-group">
                        <div class="row top-menu">
                            <label class="tnc_c_car">&emsp;取车&emsp;</label>
                            <input type="text" home-flag value="肇庆" maxlength="10"
                                   default-value="选择城市" link-input="fromCityId"
                                   class="tnc_inpcity tnc_input_citySD tnc_input_text"
                                   name="fromCity" id="fromCity2" t_popup="0">
                            <input type="text" home-flag value="星湖大道店" maxlength="30"
                                   default-value="请选择取车门店" link-input="fromStoreId"
                                   class="tnc_inpstore tnc_input_citySD tnc_input_text"
                                   name="fromStoreName" id="fromStoreName" t_popup="0" ischain="1">
                            <input type="hidden" value="2432" name="fromStoreId" id="fromStoreId">
                            <input type="hidden" class="" for="showsentAddress_span1" value="送车上门">
                            <span class="" id="showsentAddress_span1" disabled="disabled"
                                  style="display: none"></span>
                        </div>
                        <div class="row top-menu">
                            <label class="tnc_c_car">&emsp;还车&emsp;</label>
                            <input type="text" home-flag value="肇庆" maxlength="10"
                                   default-value="选择城市" link-input="toCityId"
                                   class="tnc_inpcity tnc_input_citySD tnc_input_text"
                                   name="toCity" id="toCity" t_popup="0">
                            <input type="hidden" id="toCityId" name="toCityId" value="338">
                            <input type="text" home-flag value="星湖大道店" maxlength="30"
                                   default-value="请选择取车门店" link-input="toStoreId"
                                   class="tnc_inpstore tnc_input_citySD tnc_input_text"
                                   name="toStoreName" id="toStoreName" t_popup="0" ischain="1">
                            <input type="hidden" value="2432" name="toStoreId" id="toStoreId">
                            <input type="hidden" class="" for="showpickAddress_span2" value="上门取车">
                            <span class="" id="showpickAddress_span2" disabled="disabled"
                                  style="display: none"></span>
                        </div>
                    </div>
                    <div class="menu-input-group">
                        <div class="row top-menu">
                            <label class="tnc_c_date">取车时间</label>
                            <input type="text" value=""
                                   class="tnc_inpdate tnc_input_calendar tnc_input_text layui-input cal_bg"
                                   name="fromDate" id="fromDate" readonly="readonly" autocomplete="on">
                            <input type="text" value="10:00" default-value="08:00-21:00"
                                   class="tnc_inptime tnc_input_timedown tnc_input_text tnc_input_citySD"
                                   readonly="readonly" name="fromHourMinute" id="fromHourMinute">
                        </div>
                        <div class="row top-menu">
                            <label class="tnc_c_date">还车时间</label>
                            <input type="text" value=""
                                   class="tnc_inpdate tnc_input_calendar tnc_input_text layui-input cal_bg"
                                   name="toDate" id="toDate" readonly="readonly" autocomplete="on">
                            <input type="text" value="10:00" default-value="08:00-21:00"
                                   class="tnc_inptime tnc_input_timedown tnc_input_text tnc_input_citySD"
                                   readonly="readonly" name="toHourMinute" id="toHourMinute">
                        </div>
                    </div>
                    <div class="" style="display:inline-block;margin-top: 15px;margin-bottom: 15px;text-align: center">
                        <div style=""><i>租期:<em class="tnc_bred"><label>{{days}}</label>天</em>，不限里程</i></div>
                        <input type="button" @click="doHandelDate();doSearchByAllType()" value="立即选车" class="tnc2_btn tnc_btn_green">
                    </div>
                </div>
            </div>
        </div>
    </from>
<!--<button data-spy="affix">asaas</button>-->

    <div class="row" id="myRow">
        <div class="col-defineone offset-lg-1 tnc_carcon" >
            <div class="tnc_leftlist tnc_h1" >
                <div class="tnc_lchoose_box">
                    <div class="tnc-lbox bdbtm orderLevel">
                        <p class="tnc_left_title">车型</p>
                        <ul class="tnc_chexing" id="ch_type">
                            <li class="tnc_filter filter_level all">
                                <a class="cxdefault checked" id="typebx" onclick="doChangeType('BX')">
                                    <i class="zc_cx_bx"></i>
                                    <i class="cartxt">不限</i>
                                </a>
                            </li>
                            <li class="orderlevelcheck filter_level brandname">
                                <a href="#" data="1" onclick="doChangeType('SD')">
                                    <i class="zc_cx_sdjc"></i>
                                    <i class="cartxt">手动紧凑型</i>
                                </a>
                            </li>
                            <li class="orderlevelcheck filter_level brandname">
                                <a href="#" data="3" onclick="doChangeType('JJ')">
                                    <i class="zc_cx_jj"></i>
                                    <i class="cartxt">经济型</i>
                                </a>
                            </li>
                            <li class="orderlevelcheck filter_level brandname">
                                <a href="#" data="5" onclick="doChangeType('SW')">
                                    <i class="zc_cx_sw"></i>
                                    <i class="cartxt">商务型</i>
                                </a>
                            </li>
                            <li class="orderlevelcheck filter_level brandname">
                                <a href="#" data="6" onclick="doChangeType('HH')">
                                    <i class="zc_cx_hh"></i>
                                    <i class="cartxt">豪华型</i>
                                </a>
                            </li>
                            <li class="orderlevelcheck filter_level brandname">
                                <a href="#" data="7" onclick="doChangeType('SUV')">
                                    <i class="zc_cx_suv"></i>
                                    <i class="cartxt">SUV</i>
                                </a>
                            </li>
                            <li class="orderlevelcheck filter_level brandname">
                                <a href="#" data="8" onclick="doChangeType('6SW')">
                                    <i class="zc_cx_zsw"></i>
                                    <i class="cartxt">6至15座商务</i>
                                </a>
                            </li>
                            <li class="orderlevelcheck filter_level brandname">
                                <a href="#" data="9" onclick="doChangeType('GX')">
                                    <i class="zc_cx_gx"></i>
                                    <i class="cartxt">个性车</i>
                                </a>
                            </li>
                            <li class="orderlevelcheck filter_level brandname">
                                <a href="#" data="12" onclick="doChangeType('DD')">
                                    <i class="zc_cx_dd"></i>
                                    <i class="cartxt">电动车</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tnc-lbox bdbtm orderRent price1">
                        <p class="tnc_left_title">价格 <span class="sma12">(元)</span></p>
                        <ul class="pri_range" id="ch_num">
                            <li class="bar1 orderlevelcheck filter_rent_money all">
                                <a class="checked jgdefault" id="pbx" data="0-*" onclick="doChangePrice(0)"><span class="w40"></span></a></li>
                            <li class="bar2 prli orderlevelcheck filter_rent_money">
                                <a href="#" data="0-150" onclick="doChangePrice(150)"><span class="w40"></span></a></li>
                            <li class="bar3 prli orderlevelcheck filter_rent_money">
                                <a href="#" data="150-300" onclick="doChangePrice(300)"><span class="w40"></span></a></li>
                            <li class="bar4 prli orderlevelcheck filter_rent_money">
                                <a href="#" data="300-500" onclick="doChangePrice(500)"><span class="w40"></span></a></li>
                            <li class="bar5 prli orderlevelcheck filter_rent_money">
                                <a href="#" data="500-*" onclick="doChangePrice(501)"><span class="w70"></span></a></li>
                        </ul>
                        <ul class="pri_num">
                            <li class="pri1 w37 checked jgdefault">不限</li>
                            <li class="pri2 w35 numli">0</li>
                            <li class="pri3 w42 numli" >150</li>
                            <li class="pri4 w42 numli" >300</li>
                            <li class="pri5 w37 numli" >500</li>
                            <li class="pri6 w44 numli" >500+</li>
                        </ul>
                    </div>
                    <div class="tnc-lbox bdbtm orderBrand">
                        <p class="tnc_left_title">品牌</p>
                        <ul class="car_brand" id="ch_brand">
                            <li class="orderlevelcheck filter_brand all"><a class="checked ppdefault" id="cbx" @click="doChangeBrand('CBX')">不限</a></li>
                            <li class="orderlevelcheck filter_brand brandname" v-for="item in carBrands"><a href="#" @click="doChangeBrand(item.name)">{{item.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-8 pad-define1">
            <!--<button onclick="doSeachByAllType()">查车</button>-->
            <!--row start-->
            <div class="row clearfix">
                <!--col start-->
                <div class="col-md-12 column"  >

                    <!--tabHeader  ul start-->
                    <ul class="nav nav-tabs  bg-define" id="mycarInfoListTab">

                        <!--日租  必有套餐  tabHeader start-->

                        <li class=" nav-item wid-define " disabled="true" >
                            <a class="nav-link active pad-define2 text-secondary " :id="1" @click="doSearchByPackage(1)"  data-toggle="tab"  href="#pane_1">日租自驾(不限)</a>
                        </li>
                        <!--日租  必有套餐 tabHeader end-->
                        <!--其他套餐 tabHeader start-->
                        <li class="nav-item wid-define " v-for="carMenu in evenMenus" disabled="true">
                            <a class="nav-link pad-define2 text-secondary" :id="carMenu.id" @click="doSearchByPackage(carMenu.id)" data-toggle="tab"   :href="'#pane_'+carMenu.id">{{carMenu.name}}</a>
                        </li>
                        <!--其他套餐 tabHeader end-->
                        <!--按价格排序 tabHeader start-->
                        <!--<li class="nav-item">-->
                            <!--<div class="dev_sort_btn"><a class="nav-link2 text-secondary " id="dev_sort_button" @click="doSort" href="#"><span class="dev_od_btn_a">↓</span> 租金由高到低 </a></div>-->
                        <!--</li>-->
                        <!--按价格排序 tabHeader end-->
                        <!--按价格排序 tabHeader start-->
                        <div class="col-md-3 price-lo dev_sort_btn">
                            <a class="nav-link2 text-secondary" id="dev_sort_button" @click="doSort" href="#">
                                <span class="dev_od_btn_a">↓</span> 租金由高到低
                            </a>
                        </div>
                        <!--按价格排序 tabHeader end-->

                    </ul>
                    <!--tabHeader  ul end-->

                    <!--tabContent start-->
                    <div class=" tab-content">

                        <!--日租 start-->
                        <div class="tab-pane active bg-define" id="pane_1">
                          <!--暂无数据-->
                            <ul class="nav navbar-nav" id="car_day">
                                <li v-if="items.length>0" v-for="(item,index) in items" class="list-unstyled">
                                    <div class="col-md-12 column">
                                        <div class="row clearfix dev_underline">
                                            <div class="col-md-4 column pic">
                                                <a :href="'./cardetail?carId='+item.carId" target="_blank"><img :src="item.carImg" alt="图片" width="230px" height="130px"></a>
                                            </div>
                                            <div class="col-md-3 column info">
                                                <div class="info_block">
                                                    <p class="info_car_name">{{item.carName}}{{item.carVer}}</p>
                                                    <p class="info_car_oth">
                                                        {{item.carVan}}|{{item.carPower}}|乘坐{{item.carSeat}}人</p>
                                                    <div class="bh_sale">
                                                        <a class="re" data="87-1"><span class="bred">人气</span><i
                                                                class="sale_con">{{item.carHot}}</i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5 column dev_ord">
                                                <div class="dev_order_box">
                                                    <div class="dev_od_price dev_od_price_set">
                                                        <div class="dev_car_price">
	                           <span class="dev_pri_ye">
	                               <em class="dev_rmb">¥</em>
	                               <em class="dev_num">{{item.carTotalPrice}}</em>
	                               <em class="dev_unit"></em>
	                           </span>
                                                            <span class="dev_pri_ye">
	                                    <em class=" dev_week_fontsize">单价:</em>
	                                    <em class=" dev_week_fontsize">¥</em>
	                                    <em class="dev_week_savemoney">{{item.carPrice}}</em>
	                                    <em class=" dev_week_fontsize"> 每天</em>
	                               </span>
                                                        </div>
                                                    </div>
                                                    <span class="dev_od_btn"><a href='#' @click="doCarOrder(index)"  class="btn zc_btn_size tnc_btn_green">租车</a></span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>


                        </div>
                        <!--日租 end-->


                        <div class="tab-pane bg-define "  v-for="carMenuP in evenMenus" :id="'pane_'+carMenuP.id">
                            <ul class="nav navbar-nav">
                                <li v-if="items.length>0" v-for="(item,index) in items" class="list-unstyled">
                                    <div class="col-md-12 column">
                                        <div class="row clearfix dev_underline">
                                            <div class="col-md-4 column pic">
                                                <a :href="'./cardetail?carId='+item.carId" target="_blank"><img :src="item.carImg" alt="图片" width="230px" height="130px"></a>
                                            </div>
                                            <div class="col-md-3 column info">
                                                <div class="info_block">
                                                    <p class="info_car_name">{{item.carName}}{{item.carVer}}</p>
                                                    <p class="info_car_oth">
                                                        {{item.carVan}}|{{item.carPower}}|乘坐{{item.carSeat}}人</p>
                                                    <div class="bh_sale">
                                                        <a class="re" data="87-1"><span class="bred">人气</span><i
                                                                class="sale_con">{{item.carHot}}</i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5 column dev_ord">
                                                <div class="dev_order_box">
                                                    <div class="dev_od_price dev_od_price_set">
                                                        <div class="dev_car_price">
	                           <span class="dev_pri_ye">
	                               <em class="dev_rmb">¥</em>
	                               <em class="dev_num">{{item.carTotalPackagePrice}}</em>
	                               <em class="dev_unit">/套餐价</em>
	                           </span>
                                                            <span class="dev_pri_ye">
	                                    <em class=" dev_week_fontsize">原价:</em>
	                                    <em class=" dev_week_fontsize">¥</em>
	                                    <em class="dev_week_ori dev_week_fontsize">{{item.carTotalPrice}}</em>
	                                    <em class=" dev_week_fontsize"> | 节省 <i
                                                class="dev_week_savemoney dev_week_fontsize">¥</i><i
                                                class="dev_week_savemoney dev_week_fontsize">{{(item.carTotalPrice-item.carTotalPackagePrice).toFixed(1)}}</i></em>
	                               </span>

                                                        </div>
                                                        <span class="dev_od_btn"> <a href='#' @click="doCarOrder(index)" class="btn tnc_btn_green">套餐预订</a></span>
                                                    </div>
                                                    <!---->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <!--<h3 v-if="isEmpty">暂无数据</h3>-->
                        <div style="text-align: center;margin-top: 50px"><img style="display: inline-block" class="NoData"  v-if="isEmpty" src="/img/NoData.png"></div>
                    </div>
                    <!--tabContent end-->
                </div>
                <!--col end-->
            </div>
            <!--row end-->



        </div>

    </div>

        <div class="row tnc_footer_background">
        <div class="col-sm-12 col-md-10 offset-md-1 tnc_footer_help">
            <dl class="tnc_footer_help_item">
                <dt>租车预订说明</dt>
                <dd>
                    <a target="_blank" href="#">服务时间</a>
                    <a target="_blank" href="#">待租车况</a>
                    <a target="_blank" href="#">服务预订</a>
                    <a target="_blank" href="#">短租产品</a>
                    <a target="_blank" href="#">租车资格</a>
                    <a target="_blank" href="#">取还车说明</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>会员管理</dt>
                <dd>
                    <a target="_blank" href="#">会员章程</a>
                    <a target="_blank" href="#">会员细则</a>
                    <a target="_blank" href="#">定级积分</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>紧急事务处理</dt>
                <dd>
                    <a target="_blank" href="#">保险责任</a>
                    <a target="_blank" href="#">理赔说明</a>
                    <a target="_blank" href="#">事故处理</a>
                    <a target="_blank" href="#">救援及备用车</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>租车费用及结算</dt>
                <dd>
                    <a target="_blank" href="#">价格说明</a>
                    <a target="_blank" href="#">结算流程</a>
                    <a target="_blank" href="#">储值卡</a>
                    <a target="_blank" href="#">积分</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>帮助中心</dt>
                <dd>
                    <a target="_blank" href="#">常见问题</a>
                    <a target="_blank" href="#">新手上路</a>
                    <a target="_blank" href="#">服务规则 </a>
                </dd>
            </dl>
            </dl>
        </div>
    </div>
    <div class="row tnc_footer_link" style="background-color: #1b2b3b;">
        <div class="col col-10 offset-md-1 tnc_about_link">
            <a title="关于我们" href="https://huodong.zuche.com/gywm/" rel="nofollow">关于我们</a>
            <a title="投资者关系" target="_blank" href="https://ir.zuche.com" rel="nofollow">投资者关系</a>
            <a target="_parent" title="新闻中心" href="https://news.zuche.com/">新闻中心</a>
            <a title="加盟合作" target="_blank" href="https://jiameng.zuche.com">加盟合作</a>
            <a title="隐私保护" target="_parent" href="https://huodong.zuche.com/ysbh/" rel="nofollow">隐私保护</a>
            <a title="网站导航" target="_parent" href="https://help.zuche.com/sitemap/">网站导航</a>
            <a title="联系我们" target="_parent" href="https://huodong.zuche.com/lxwm/" rel="nofollow">联系我们</a>
            <a title="招贤纳士" target="_blank" href="http://hr.ucarinc.com/" rel="nofollow">招贤纳士</a>
            <a target="_blank" href="https://en.zuche.com" class="eng_wz">English<i class="eng_icon"></i></a>
        </div>
        <div class="col col-10 offset-md-1 tnc_copyright">
            <span class="">Copyright©20xx-20xx www.wind.zuche.com All Rights Reserved.　肇庆乘风汽车租赁有限公司 粤ICP备10000518号   粤公网安备号 11010502020518</span>
            <span class="">如果您对乘风租车网站有任何意见，欢迎发送邮件到 <a href="Mailto:web@wind.com" class="">web@wind.com</a></span>
            <span class="">
                    <a target="_blank" href="https://ss.knet.cn/verifyseal.dll?sn=2011091400100014977&amp;ct=df&amp;pa=294005" rel="nofollow" tabindex="-1" id="urlknet" class="sz_k"></a>
                    <a target="_blank" id="___szfw_logo___" href="https://search.szfw.org/cert/l/CX20121016001772002081" rel="nofollow" title="诚信网站" class="sz_c"></a>
                </span>
        </div>
    </div>
</div>


<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/bootstrap-4.1.3/js/bootstrap.min.js"></script>
<script src="/layui-v2.4.3/layui.all.js"></script>
<script src="/vue-2.5.17/vue.min.js"></script>
<script src="/js/common/common.js"></script>
<script src="/js/tenancy/leftList_ch.js"></script>
<script src="/js/tenancy/car_tabs.js"></script>
<script>

    //定义一个全局标记变量，用来判断超时后的天数是否+1
    var f = true;

    layui.use(['laydate', 'jquery', 'layer'], function () {
        var laydate = layui.laydate;
        var $ = jQuery = layui.$;
        //执行一个laydate实例

        //取车日期
        var start = laydate.render({
            elem: '#fromDate' //指定元素
            , btns: ['confirm']
            , type: 'date'
            , theme: '#00c189'
            , calendar: true
            , min: 1
            , max: 10
            , done: function (value, date, endDate) {
                //开始日选好后，重置结束日的最小日期
                end.config.min = {
                    year: date.year,
                    month: date.month - 1,
                    date: date.date + 1
                };
                //将结束日的初始值设定为开始日
                var OneDay = 86400000;
                var fromDate = $("#fromDate").val();
                var fday = new Date(fromDate).getTime() / OneDay;
                var fday2 = formatDate(new Date(fday + 1) * OneDay);
                f = true;
                $('#toDate').val(fday2);

                //重置初始日
                carInfoTab_app.days = 1;

                //判断时间是否超时
                f = true;
                OutToTime();

                // console.log(value); //得到日期生成的值，如：2017-08-18
                // console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
            }
        });
        //还车日期
        var end = laydate.render({
            elem: '#toDate' //指定元素
            , btns: ['confirm']
            , type: 'date'
            , theme: '#00c189'
            , calendar: true
            , value: ''
            , min: 2
            , max: 89
            , done: function (value, date, endDate) {
                var OneDay = 86400000;
                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();
                var a = (new Date(toDate).getTime() - new Date(fromDate).getTime()) / OneDay;
                carInfoTab_app.days = a;
                doHandelDate()
                //判断时间是否超时
                f = true;
                OutToTime();
            }
        });
        //取车时间
        laydate.render({
            elem: '#fromHourMinute' //指定元素
            , btns: ['confirm']
            , type: 'time'
            , format: 'HH:mm'
            , theme: '#00c189'
            , min: '08:30:00'
            , max: '21:30:00'
            , done: function (value, date, endDate) {
                $("#toHourMinute").val(value);
                f = true;
            }
        });
        //还车时间
        laydate.render({
            elem: '#toHourMinute' //指定元素
            , btns: ['confirm']
            , type: 'time'
            , format: 'HH:mm'
            , theme: '#00c189'
            , min: '08:30:00'
            , max: '21:30:00'
            , done: function (value, date, endDate) {
                $("#toHourMinute").val(value);

                //判断时间是否超时
                OutToTime();
            }
        });

    });

    //判断时间是否超时
    var OutToTime = function () {
        var value1 = $("#fromHourMinute").val();
        var h1 = value1.substring(0, 2) * 3600;
        var m1 = value1.substring(3, 5) * 60;
        var fromTime = h1 + m1 + 14400;
        var fromTime2 = h1 + m1;
        var value2 = $("#toHourMinute").val();
        var h2 = value2.substring(0, 2) * 3600;
        var m2 = value2.substring(3, 5) * 60;
        var toTime = h2 + m2;
        if (toTime > fromTime) {
            layer.msg("超过4小时按1天租期计费。");
            if (f) {
                carInfoTab_app.days += 1;
                f = false;
            }
        } else if (toTime < fromTime2) {
            layer.msg("超过4小时按1天租期计费。");
            if (!f) {
                carInfoTab_app.days -= 1;
                f = true;
            }
        } else if (toTime > fromTime2 && toTime <= fromTime) {
            layer.msg("每小时加收超时费￥30元。");
            if (!f) {
                carInfoTab_app.days -= 1;
                f = true;
            }
        }
    };

    layui.use(['laypage', 'layer'], function() {
        var laypage = layui.laypage
            , layer = layui.layer;
        //自定义首页、尾页、上一页、下一页文本
        laypage.render({
            elem: 'demo3'
            ,count: 6
            ,limit:5
            ,first: '首页'
            ,last: '尾页'
            ,prev: '<em>←</em>'
            ,next: '<em>→</em>'
        });
    })

    function stickUp(){
        let windowWidth = $(this).width();
        const footHeight =  $(".tnc_footer_background").height()+$(".tnc_footer_link").height()

        if (windowWidth < 1173) {
            $(".tnc_lchoose_box").css('position', 'relative')
            $(".tnc_lchoose_box").css('top','0px')
        }else {
            $(".tnc_lchoose_box").css('position', 'fixed')
            $(window).scroll(function () {
                let y = 189 - window.scrollY;
                if (y < 10) {
                    y = 10
                }
                let scrollTop = $(this).scrollTop();
                let scrollHeight = $(document).height();
                let windowHeight = $(this).height();

                let div = "";
                if ($(document).scrollTop() + 100 >= $(document).height() - $(window).height()) {

                    y = $(this).height()-footHeight - 430
                    console.log(y)
                }

                $(".tnc_lchoose_box").css("top", y)
            });
        }
    }

    $(window).resize(function () {
        stickUp()
    })
      const Sx = ()=> {
       window.scrollTo(0,0)
    };
    $(document).ready(function(){
        stickUp()
    });

</script>
</body>
</html>