<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乘风租车————全球租车领导品牌</title>
    <link rel="stylesheet" href="/layui-v2.4.3/css/layui.css"  media="all">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/bootstrap-4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/myOrder.css"/>
</head>
<body class="main">
<div class="container-fluid tnc_container tnc_header">
    <div v-cloak id="header-app" class="row tnc_head">
        <div class="tnc_head_bd">
            <div><a class="tnc_head_brand tnc_logo" href="/"></a></div>
            <div class="tnc_head_menu" >
                <ul class="">
                    <li class="tnc_head_menu_item">
                        <a class="tnc_head_menu_active" href="/">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="tnc_head_menu_item">
                        <a class="" href="/headList">选车</a>
                    </li>
                    <li class="tnc_head_menu_item">
                        <a class="" href="/storesMap">门店</a>
                    </li>
                </ul>
            </div>
            <div class="tnc_head_right">
                <div v-show="!customer.id" class="tnc_head_login tnc_header_active" style="display: none">
                    <a href="login" class="">登录</a> / <a href="/register" class="">注册</a>
                </div>
                <div v-show="customer.id" class="tnc_head_login" >
                    <h1 class="tnc_head_welcome">您好，{{customer.name}}</h1>
                    <div id="tnc_toggle_area" class="tnc_head_dropdown">
                        <a id="tnc_toggle_area_btn" href="/tenancy/p/myOrderList">个人中心&nbsp;<i class="fa fa-caret-down"></i></a>
                        <div id="tnc_toggle_menu" style="display: none">
                            <div class="triangle_border_up"></div>
                            <div class="tnc_collapse_list" >
                                <a href="/tenancy/p/myOrderList" class="bhpr reddot">我的订单</a>
                                <a href="/tenancy/p/coupon">我的资产</a>
                                <a href="/tenancy/p/personInfo">我的账户</a>
                                <a href="javascript:;" @click="logout">退出登录</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tnc_head_tel">
                    <div class="">
                            <span class="">
                                <i class="fa fa-phone"></i>
                                <span>408-666-666</span>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="printBody">

        <div class="printdiv">
            <div class="Wbanner980" id="orderDetails" v-cloak>


                <div class="bluebgbd sz_succeedB">
                    <div class="succeedinfo p10_0 sz_bluebbb">
                        <span class="sz_suc_font colorBlue" v-if="order_detail.order_detail.status==0">已提交订单 等待付款</span>
                        <span class="sz_suc_font colorBlue" v-if="order_detail.order_detail.status==1">租赁中</span>
                        <span class="sz_suc_font colorBlue" v-if="order_detail.order_detail.status==2">预订成功</span>
                        <span class="sz_suc_font colorBlue" style="color:#808080;" v-if="order_detail.order_detail.status==3">已取消</span>
                        <span class="sz_suc_font colorBlue" v-if="order_detail.order_detail.status==4">已完成</span>
                        <span class="sz_suc_font colorBlue" style="color:#808080;" v-if="order_detail.order_detail.status==5">处理中</span>
                        <span class="f14">&nbsp;合计:</span>
                        <span class="sz_priceOrange">
	<em class="rmb">¥</em>
	<em class="num">
		{{order_detail.order_detail.totalAmount}}
	</em>
</span>
                    </div>
                    <div class="f14 p10_0">
                        <span>订单号：{{order_detail.order_detail.id}}</span>
                        <a>|</a>
                        <span>租车人：{{order_detail.order_detail.name}}</span>
                        <a>|</a>
                        <span>租期：{{order_detail.days}}天</span>
                        <a>|</a>
                        <span>取车时需交押金: ¥ <span style="color: red">{{order_detail.deposit}}</span></span>
                        <span style="float: right;color: red;" v-if="order_detail.order_detail.status==0">请在1小时内完成付款，否则将自动取消订单</span>
                    </div>
                </div>

                <br>
                <div class="order_s_info index_bdb2 orDeBoxRight m20_0" style="background:#fff;">

                    <h3>基本信息</h3>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="f14">
                        <tbody>
                        <tr>
                            <td width="10">&nbsp;</td>
                            <td colspan="3" rowspan="3" align="center" valign="middle"
                                class="borderBlueB borderBlueR pre"
                                height="99">
                                <!--<img src="https://image.zuchecdn.com/brand/order/kia.png">-->
                                <img v-bind:src="order_detail.carPicPath" width="138" height="80">
                                <!--<span class="config-btn">配置信息</span>-->
                                <input type="button" class="tnc_btn tnc_btn_green config-btn" value="配置信息">
                            </td>
                            <td width="240" align="center" class="borderBlueR borderBlueBda" rowspan="2">
                                <strong>取车时间</strong>：{{order_detail.order_detail.startDate}}
                            </td>
                            <td width="78" align="right" class="borderBlueBda " rowspan="2"><strong>取车地点</strong>：</td>
                            <td rowspan="2" height="66" class="borderBlueBda" width="260">
                                {{order_detail.getCity}}&nbsp;{{order_detail.getStore}}
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="borderBlueB">&nbsp;</td>
                            <td rowspan="2" align="center" valign="middle" class="borderBlueR borderBlueB" height="66">
                                <strong>还车时间</strong>：{{order_detail.order_detail.returnDate}}
                            </td>
                            <td rowspan="2" align="right" class="borderBlueB"><strong>还车地点</strong>：</td>
                            <td rowspan="2" align="left" valign="middle" class="borderBlueB">
                                {{order_detail.returnCity}}&nbsp;{{order_detail.returnStore}}
                            </td>
                        </tr>
                        <tr class="f16 borderBlueB" style="font-family:'微软雅黑';">
                            <td>&nbsp;</td>
                            <td height="33" align="center" valign="middle" class="borderBlueR">{{order_detail.car_info.tncBrand.name}}{{order_detail.car_info.series}}</td>
                            <td align="center" valign="middle" class="borderBlueR" v-if="order_detail.car_info.transmissionType=='MT'">{{order_detail.car_info.boxQuantity}}厢/{{order_detail.car_info.displacement/1000}}手动</td>
                            <td align="center" valign="middle" class="borderBlueR" v-else>{{order_detail.car_info.boxQuantity}}厢/{{order_detail.car_info.displacement/1000}}自动</td>
                            <td align="center" valign="middle" class="borderBlueR">乘坐{{order_detail.car_info.seatQuantity}}人</td>
                        </tr>
                        </tbody>
                    </table>

                    <h3 class="pink">费用明细</h3>
                    <div class="orderFeeDetails">
                        <div class="feeItem borderBlueBda">
                            <div class="feePrice">
                            <span class="sz_OrderpOrangeM">
	                            <em class="rmb_gray">¥</em>
	                            <em class="num_gray">{{order_detail.total_base_price}}</em>
	                        </span>
	                    	<span class="sz_OrderpOrangeM">
	                            <em class="rmb">¥</em>
	                            <em class="num">{{order_detail.discount_total_base}}</em>
	                        </span>
                            </div>
                            <div class="calculate">
		                        <span class="sz_priceGraySmall">
		                            <em class="num">¥{{order_detail.base_price}}x{{order_detail.days}}天</em>
		                            <em class="unit">=</em>	
		                        </span>
                            </div>
                            <span class="feeName">车辆租赁及服务费</span>
                        </div>

                        <div class="feeItem borderBlueBda">
                            <div class="feePrice">
                            <span class="sz_OrderpOrangeM">
	                            <em class="rmb_gray">¥</em>
	                            <em class="num_gray">{{order_detail.total_service_price}}</em>
	                        </span>
	                    	<span class="sz_OrderpOrangeM">
	                            <em class="rmb">¥</em>
	                            <em class="num">{{order_detail.discount_total_service}}</em>
	                        </span>
                            </div>
                            <div class="calculate">
		                        <span class="sz_priceGraySmall">
		                            <em class="num">¥{{order_detail.service_price}}x{{order_detail.days}}天</em>
		                            <em class="unit">=</em>	
		                        </span>
                            </div>
                            <span class="feeName">基础服务费</span>
                        </div>

                        <div class="feeItem borderBlueBda selectabletotal onsttone" style="overflow:inherit;">
                            <div class="feePrice">
	                    <span class="sz_OrderpOrangeM">
	                        <em class="rmb">¥</em>
	                        <em class="num">{{order_detail.order_detail.otherAmount}}</em>
	                    </span>
                            </div>
                            <div class="calculate">
	                    <span class="sz_priceGraySmall">
	                        <em class="unit">合计</em>	
	                    </span>
                            </div>
                            <span class="feeName">其他费用<b class="down" style="display: none;"></b><b class="up" style="display: block;"> </b></span>
                        </div>

                        <div class="feeline50 discount borderBlueBda sttwrap " v-for="(item,key) in description" style="display: none;">
                            <div class="feePrice">
		                    <span class="sz_OrderpOrangeM">
		                        <em class="rmb"></em>
		                        <em class="rmb">¥</em>
		                        <em class="num">{{item}}</em>
		                    </span>
                            </div>
                            <span class="feeName bold">{{key}}</span>
                        </div>
                        <div class="feeItem borderBlueBda" v-if="order_detail.coupon>0">
                            <div class="feePrice">
	                    	<span class="sz_OrderpOrangeM">
	                            <em class="rmb">¥</em>
	                            <em class="num">{{order_detail.coupon}}</em>
	                        </span>
                            </div>
                            <div class="calculate">
		                        <span class="sz_priceGraySmall">
		                            <em class="num"></em>
		                            <em class="unit">-</em>
		                        </span>
                            </div>
                            <span class="feeName">优惠券</span>
                        </div>


                    </div>


                    <div class="orderFeeTotal">
                        <div class="total02">

                            <span class="yjtotal">需支付：</span>
                            <span class="sz_OrderpOrangeB">
            <em class="rmb">¥</em>
            <em class="num">{{order_detail.order_detail.totalAmount}}</em>
        </span>
                        </div>
                    </div>
                </div>
                <div class="ac">


                    <input id="orderCancel" type="button" value="取消订单" @click="cancelOrder"
                           class="tnc_btn btn_graywauto gray f16" v-if="order_detail.order_detail.status==0||order_detail.order_detail.status==2">&nbsp;&nbsp;

                    <div id="orderModifyDiv" class="top_new_tip_btn" v-if="order_detail.order_detail.status==0">
                        <img alt="new" src="https://image.zuchecdn.com/newversion/common/newRed.png">
                        <input id="orderModify" type="button"  value="修改订单"
                               class="tnc_btn btn_graywauto gray f16" @click="updateOrder">
                    </div>&nbsp;&nbsp;

                    <input id="monitor_fifth_detail" type="button" @click="gotoOrderCenter" value="订单中心"
                           class="tnc_btn btn_graywauto gray f16">&nbsp;&nbsp;
                    <input id="printPage" type="button" value="打印订单" onclick="window.print()"
                           class="tnc_btn btn_graywauto gray f16">&nbsp;&nbsp;
                    <input id="toPay" type="button" value="去支付" @click="goToPay"
                           class="tnc_btn btn_graywauto gray f16" style="background-color: #1e9f75;color:white;" v-if="order_detail.order_detail.status==0">&nbsp;&nbsp;
                </div>


                <div class="index_bdb2 m20_0 p20 bg_white">
                    <p class="f16 pb10">如何取车</p>
                    <p class="f12 gray line_h24">
                        1.取车时,出示以下证件的原件：本人二代身份证、本人国内有效驾驶证正副本、本人一张信用及可用额度均不低于3000元的国内有效信用卡，所有证件有效期须至少超过当次租期的一个月以上。</p>
                    <p class="f12 gray line_h24">2.请您准时取车，超时取车，起租时间按预订取车时间起算。</p>
                </div>
                <div class="index_bdb2 m20_0 p20 bg_white">
                    <p class="f16 pb10">退改规则</p>
                    <p class="f12 gray line_h24" style="padding-left:12px;">订单修改或取消：<br> a)取车时间距当前时间≥2个工作小时，请提前致电400 616
                        6666：取车时间在门店的营业时间内，请提前2小时申请；取车时间在门店营业时间之外，请您尽早致电申请。<br>
                        b)取车时间距当前时间＜2个工作小时，不接受修改。驾照认证授权：取车前，您可通过神州租车APP、神州租车官网等网络渠道自行认证驾照，或到门店由工作人员协助认证驾照。您的驾照信息仅作为身份和驾驶资格认证。<br>
                    </p>


                    &nbsp;<font class="gray">（小贴士：如果您修改订单或取消订单重新预订，价格可能会发生变化。）</font><br>

                </div>
                <div class="configbox" style="display: none;">
                    <div class="cftitle">
		<span>
		{{order_detail.car_info.tncBrand.name}}{{order_detail.car_info.series}}配置信息</span>
                        <i class="cfclose"></i>
                    </div>
                    <div class="cflist">
                        <ul>
                            <li>
                                <b class="zws">&nbsp;</b>座 位 数：
                                <span>
										{{order_detail.car_info.seatQuantity}}
								</span>
                            </li>
                            <li>
                                <b class="cms">&nbsp;</b>车 门 数：
                                <span>
										{{order_detail.car_info.doorQuantity}}
								</span>
                            </li>
                            <li>
                                <b class="rllx">&nbsp;</b>燃料类型：
                                <span>
										{{order_detail.car_info.fuelType}}
								</span>
                            </li>
                            <li>
                                <b class="bsxlx">&nbsp;</b>变速箱类型：
                                <span>
										{{order_detail.car_info.transmissionType}}
								</span>
                            </li>
                            <li>
                                <b class="pl">&nbsp;</b>排　　量：
                                <span>{{order_detail.car_info.displacement}}</span>
                            </li>
                            <li>
                                <b class="rybh">&nbsp;</b>燃油标号：
                                <span>
										{{order_detail.car_info.octaneRating}}
								</span>
                            </li>
                            <li>
                                <b class="qdfs">&nbsp;</b>驱动方式：
                                <span>
										{{order_detail.car_info.drivenMethod}}
								</span>
                            </li>
                            <li>
                                <b class="fdjjqxs">&nbsp;</b>发动机进气形式：
                                <span>
										{{order_detail.car_info.enItkForm}}
								</span>
                            </li>
                            <li>
                                <b class="tc">&nbsp;</b>天　　窗：
                                <span v-if="order_detail.car_info.skylight==0">
										无
								</span>
                                <span v-else>
										有
								</span>
                            </li>
                            <li>
                                <b class="yxrl">&nbsp;</b>油箱容量：
                                <span>
										{{order_detail.car_info.tankCapacity}}
								</span>
                            </li>
                            <li>
                                <b class="yx">&nbsp;</b>音　　箱：
                                <span>
										{{order_detail.car_info.speaker}}
								</span>
                            </li>
                            <li>
                                <b class="zy">&nbsp;</b>座　　椅：
                                <span>
										{{order_detail.car_info.seat}}
								</span>
                            </li>
                            <li>
                                <b class="dcld">&nbsp;</b>倒车雷达：
                                <span v-if="order_detail.car_info.reversingRadar==0">
										无
								</span>
                                <span v-else>
										有
								</span>
                            </li>
                            <li>
                                <b class="qin">&nbsp;</b>气　　囊：
                                <span>
										{{order_detail.car_info.airbag}}
								</span>
                            </li>
                            <li class="nonebd">
                                <b class="dvd">&nbsp;</b>DVD / CD：
                                <span>
										{{order_detail.car_info.dvdCd}}
								</span>
                            </li>
                            <li class="nonebd">
                                <b class="gps">&nbsp;</b>GPS导航：
                                <span v-if="order_detail.car_info.gps==0">
										无
								</span>
                                <span v-else>
										有
								</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="cffade" style="display: none;"></div>
        </div>
        <div class="order-success-alertbox">
            <div class="s-aboxin">
                <a href="javascript:void(0);" class="close"></a>
                <p><span>恭喜您</span><br>订单提交成功</p>
                <input type="button" class="tnc_btn tnc_btn_green zc-btn btn-know" value="确定">
            </div>
        </div>

    </div>

</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/layui-v2.4.3/lay/modules/layer.js"></script>
<script src="/bootstrap-4.1.3/js/bootstrap.min.js"></script>
<script src="/vue-2.5.17/vue.min.js"></script>
<script src="/js/common/common.js"></script>
<script src="/js/tenancy/myOrder.js"></script>
<script src="/js/tenancy/header.js"></script>
</body>
</html>
