<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:border-top="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
</head>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/bootstrap-4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/personInfo.css">
<link rel="stylesheet" href="/layui-v2.4.3/css/layui.css">
<link rel="stylesheet" href="/css/myOrderList.css">

<body>
<div class="container-fluid tnc_container tnc_header">
    <div v-cloak id="header-app" class="row tnc_head">
        <div class="tnc_head_bd">
            <div><a class="tnc_head_brand tnc_logo" href="/"></a></div>
            <div class="tnc_head_menu">
                <ul class="">
                    <li class="tnc_head_menu_item">
                        <a class="tnc_head_menu_active" href="/">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="tnc_head_menu_item">
                        <a class="" href="/headList">选车</a>
                    </li>
                    <li class="tnc_head_menu_item">
                        <a class="" href="#">门店</a>
                    </li>
                </ul>
            </div>
            <div class="tnc_head_right">
                <div v-show="!customer.id" class="tnc_head_login tnc_header_active" style="display: none">
                    <a href="#" class="">登录</a> / <a href="#" class="">注册</a>
                </div>
                <div v-show="customer.id" class="tnc_head_login">
                    <h1 class="tnc_head_welcome">您好，{{customer.name}}</h1>
                    <div id="tnc_toggle_area" class="tnc_head_dropdown">
                        <a id="tnc_toggle_area_btn" href="#">个人中心&nbsp;<i class="fa fa-caret-down"></i></a>
                        <div id="tnc_toggle_menu" style="display: none">
                            <div class="triangle_border_up"></div>
                            <div class="tnc_collapse_list">
                                <a href="#" class="bhpr reddot">我的订单</a>
                                <a href="#">我的资产</a>
                                <a href="#">我的账户</a>
                                <a href="javascript:;" @click="logout">退出登录</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tnc_head_tel">
                    <div class="">
                        <span class="">
                            <i class="fa fa-phone"></i>
                            <span>408-666-666</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-3 myleft offset-md-1">
            <div class="infoleft_bd">
                <dl>
                    <dt class="info_h2">订单中心</dt>
                    <dd><a href="/tenancy/p/myOrderList" id="left_myOrder">我的订单</a></dd>
                </dl>
                <dl>
                    <dt class="info_h2">我的账户</dt>
                    <dd><a href="/tenancy/p/personInfo" id="left_myInfo">我的信息</a></dd>
                    <dd><a href="/tenancy/p/updatePassword" id="left_updatePwd">修改密码</a></dd>
                    <dd><a href="/tenancy/p/coupon" id="left_coupon">优惠券
                        <span id="couponCount"></span></a></dd>
                    <dd><a href="/tenancy/p/usablePoint" id="left_point">可用积分
                        <span id="pointNum"></span></a></dd>
                </dl>
                <dl>
                    <dt class="info_h2">积分商城</dt>
                    <dd><a href="/tenancy/p/pointMall" id="left_pointMall">积分商城</a></dd>
                </dl>
            </div>
        </div>
        <div  class="col-md-8 col-sm-9 myright">
            <div class="info_bd orderlist_bd">
                <!--<div class="orderlist_bd">-->
                <h2>
                    <font style="vertical-align: inherit;">
                        自驾订单
                    </font>
                </h2>
                <div class="zc_query-condition_bd">
                    <div class="zc_box">
                        <div class="fr" id="timeClear" >
                            <font style="vertical-align: inherit;">
                                <input type="button" value="清除" class="zc_blue_sub"/>
                            </font>
                        </div>
                        <div class="fr pl15">
                            <font style="vertical-align: inherit;">
                                <input id="searchBtn" type="button" value="查询" class="zc_gray_sub" style="width:86px;min-width:auto;"/>
                            </font>
                        </div>
                        <div class="fr">
                            <input type="text"  value="" class="layui-input"  id="toDate" autocomplete="on" readonly="readonly" style="box-sizing:unset;width:130px"/>
                        </div>
                        <div class="fr">-</div>
                        <div class="fr"><input type="text"  value="" class="layui-input" id="fromDate"   autocomplete="on" readonly="readonly" style="box-sizing:unset;width:130px"/></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <!--<div class="h20"></div>-->
                <!--<div class="subbox_m"></div>-->

                <div id="orderlist_app" class="layui-tab" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title" style="border-top:0px;height: 41px;">
                        <li class="layui-this">全部</li>
                        <li>处理中</li>
                        <li>等待付款</li>
                        <li>预定成功</li>
                        <li>租赁中</li>
                        <li>已完成</li>
                        <li>已取消</li>
                    </ul>
                    <div class="layui-tab-content" style="padding: 0px;">
                            <div class="layui-tab-item layui-show zc_myorder_info">
                                <table class="zc_table_order" cellpadding="0" cellspacing="0" border="0">
                                    <thead>
                                    <tr>
                                        <th class="al">订单信息</th>
                                        <th width="197"></th>
                                        <th class="al" width="263">取/还车信息</th>
                                        <th class="ac" width="150">总计</th>
                                        <th class="ac" width="150">订单状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(item, index) in orders">
                                        <td>
                                            {{ggg(index)}}
                                            <img  :src="item.carVo.path"  width="166" height="97">
                                        </td>
                                        <td class="ol-carinfo">
                                            <b>
                                                {{item.carVo.bandname}}{{item.carVo.series}}
                                            </b>
                                            <p>
                                                {{item.carVo.boxQuantity}}厢/{{item.mymix}} |
                                                乘坐{{item.carVo.seatQuantity}}人</p>
                                            <p>订单号：{{item.id}}</p>
                                        </td>
                                        <td>
                                            <div class="ol-caraddress" style="cursor:default;">
                                                <p class="qhicon zctooltip" >
                                                    <i class="zc_fetch_i"></i>
                                                    {{item.getStore.city}} - {{item.getStore.name}}
                                                </p>
                                                <p class="qhtime">{{item.startDate}}</p>
                                                <p class="qhicon zctooltip" >
                                                    <i class="zc_giveback_i"></i>
                                                    {{item.returnStore.city}} - {{item.returnStore.name}}
                                                </p>
                                                <p class="qhtime">{{item.returnDate}}</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="ol-aggregate">¥<span>{{item.totalAmount}}</span>
                                            </div>
                                        </td>
                                        <td class="ac">
                                            <span :class="gggg(index)">{{item.orderstate}}</span>

                                            <a :href="'./myOrderList_detail?orderId='+item.id" class="a-view">查看订单</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        <div class="layui-tab-item zc_myorder_info">
                            <table class="zc_table_order" cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                <tr>
                                    <th class="al">订单信息</th>
                                    <th width="197"></th>
                                    <th class="al" width="263">取/还车信息</th>
                                    <th class="ac" width="150">总计</th>
                                    <th class="ac" width="150">订单状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item, index) in order_5">
                                    <td>
                                        {{ggg(index)}}
                                        <img  :src="item.carVo.path"  width="166" height="97">
                                    </td>
                                    <td class="ol-carinfo">
                                        <b>
                                            {{item.carVo.bandname}}{{item.carVo.series}}
                                        </b>
                                        <p>
                                            {{item.carVo.boxQuantity}}厢/{{item.mymix}} |
                                            乘坐{{item.carVo.seatQuantity}}人</p>
                                        <p>订单号：{{item.id}}</p>
                                    </td>
                                    <td>
                                        <div class="ol-caraddress" style="cursor:default;">
                                            <p class="qhicon zctooltip" >
                                                <i class="zc_fetch_i"></i>
                                                {{item.getStore.city}} - {{item.getStore.name}}
                                            </p>
                                            <p class="qhtime">{{item.startDate}}</p>
                                            <p class="qhicon zctooltip" >
                                                <i class="zc_giveback_i"></i>
                                                {{item.returnStore.city}} - {{item.returnStore.name}}
                                            </p>
                                            <p class="qhtime">{{item.returnDate}}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ol-aggregate">¥<span>{{item.totalAmount}}</span>
                                        </div>
                                    </td>
                                    <td class="ac">
                                        <span class="s-blue">{{item.orderstate}}</span>

                                        <a :href="'./myOrderList_detail?orderId='+item.id" class="a-view">查看订单</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table></div>
                        <div class="layui-tab-item zc_myorder_info">
                            <table class="zc_table_order" cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                <tr>
                                    <th class="al">订单信息</th>
                                    <th width="197"></th>
                                    <th class="al" width="263">取/还车信息</th>
                                    <th class="ac" width="150">总计</th>
                                    <th class="ac" width="150">订单状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item, index) in order_0">
                                    <td>
                                        {{ggg(index)}}
                                        <img  :src="item.carVo.path"  width="166" height="97">
                                    </td>
                                    <td class="ol-carinfo">
                                        <b>
                                            {{item.carVo.bandname}}{{item.carVo.series}}
                                        </b>
                                        <p>
                                            {{item.carVo.boxQuantity}}厢/{{item.mymix}} |
                                            乘坐{{item.carVo.seatQuantity}}人</p>
                                        <p>订单号：{{item.id}}</p>
                                    </td>
                                    <td>
                                        <div class="ol-caraddress" style="cursor:default;">
                                            <p class="qhicon zctooltip" >
                                                <i class="zc_fetch_i"></i>
                                                {{item.getStore.city}} - {{item.getStore.name}}
                                            </p>
                                            <p class="qhtime">{{item.startDate}}</p>
                                            <p class="qhicon zctooltip" >
                                                <i class="zc_giveback_i"></i>
                                                {{item.returnStore.city}} - {{item.returnStore.name}}
                                            </p>
                                            <p class="qhtime">{{item.returnDate}}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ol-aggregate">¥<span>{{item.totalAmount}}</span>
                                        </div>
                                    </td>
                                    <td class="ac">
                                        <span class="s-orange">{{item.orderstate}}</span>

                                        <a :href="'./myOrderList_detail?orderId='+item.id" class="a-view">查看订单</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-tab-item zc_myorder_info">
                            <table class="zc_table_order" cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                <tr>
                                    <th class="al">订单信息</th>
                                    <th width="197"></th>
                                    <th class="al" width="263">取/还车信息</th>
                                    <th class="ac" width="150">总计</th>
                                    <th class="ac" width="150">订单状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item, index) in order_2">
                                    <td>
                                        {{ggg(index)}}
                                        <img  :src="item.carVo.path"  width="166" height="97">
                                    </td>
                                    <td class="ol-carinfo">
                                        <b>
                                            {{item.carVo.bandname}}{{item.carVo.series}}
                                        </b>
                                        <p>
                                            {{item.carVo.boxQuantity}}厢/{{item.mymix}} |
                                            乘坐{{item.carVo.seatQuantity}}人</p>
                                        <p>订单号：{{item.id}}</p>
                                    </td>
                                    <td>
                                        <div class="ol-caraddress" style="cursor:default;">
                                            <p class="qhicon zctooltip" >
                                                <i class="zc_fetch_i"></i>
                                                {{item.getStore.city}} - {{item.getStore.name}}
                                            </p>
                                            <p class="qhtime">{{item.startDate}}</p>
                                            <p class="qhicon zctooltip" >
                                                <i class="zc_giveback_i"></i>
                                                {{item.returnStore.city}} - {{item.returnStore.name}}
                                            </p>
                                            <p class="qhtime">{{item.returnDate}}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ol-aggregate">¥<span>{{item.totalAmount}}</span>
                                        </div>
                                    </td>
                                    <td class="ac">
                                        <span class="s-green">{{item.orderstate}}</span>

                                        <a :href="'./myOrderList_detail?orderId='+item.id" class="a-view">查看订单</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-tab-item zc_myorder_info">
                            <table class="zc_table_order" cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                <tr>
                                    <th class="al">订单信息</th>
                                    <th width="197"></th>
                                    <th class="al" width="263">取/还车信息</th>
                                    <th class="ac" width="150">总计</th>
                                    <th class="ac" width="150">订单状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item, index) in order_1">
                                    <td>
                                        {{ggg(index)}}
                                        <img  :src="item.carVo.path"  width="166" height="97">
                                    </td>
                                    <td class="ol-carinfo">
                                        <b>
                                            {{item.carVo.bandname}}{{item.carVo.series}}
                                        </b>
                                        <p>
                                            {{item.carVo.boxQuantity}}厢/{{item.mymix}} |
                                            乘坐{{item.carVo.seatQuantity}}人</p>
                                        <p>订单号：{{item.id}}</p>
                                    </td>
                                    <td>
                                        <div class="ol-caraddress" style="cursor:default;">
                                            <p class="qhicon zctooltip" >
                                                <i class="zc_fetch_i"></i>
                                                {{item.getStore.city}} - {{item.getStore.name}}
                                            </p>
                                            <p class="qhtime">{{item.startDate}}</p>
                                            <p class="qhicon zctooltip" >
                                                <i class="zc_giveback_i"></i>
                                                {{item.returnStore.city}} - {{item.returnStore.name}}
                                            </p>
                                            <p class="qhtime">{{item.returnDate}}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ol-aggregate">¥<span>{{item.totalAmount}}</span>
                                        </div>
                                    </td>
                                    <td class="ac">
                                        <span class="s-blue">{{item.orderstate}}</span>

                                        <a :href="'./myOrderList_detail?orderId='+item.id" class="a-view">查看订单</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table></div>
                        <div class="layui-tab-item zc_myorder_info">
                            <table class="zc_table_order" cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                <tr>
                                    <th class="al">订单信息</th>
                                    <th width="197"></th>
                                    <th class="al" width="263">取/还车信息</th>
                                    <th class="ac" width="150">总计</th>
                                    <th class="ac" width="150">订单状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item, index) in order_4">
                                    <td>
                                        {{ggg(index)}}
                                        <img  :src="item.carVo.path"  width="166" height="97">
                                    </td>
                                    <td class="ol-carinfo">
                                        <b>
                                            {{item.carVo.bandname}}{{item.carVo.series}}
                                        </b>
                                        <p>
                                            {{item.carVo.boxQuantity}}厢/{{item.mymix}} |
                                            乘坐{{item.carVo.seatQuantity}}人</p>
                                        <p>订单号：{{item.id}}</p>
                                    </td>
                                    <td>
                                        <div class="ol-caraddress" style="cursor:default;">
                                            <p class="qhicon zctooltip" >
                                                <i class="zc_fetch_i"></i>
                                                {{item.getStore.city}} - {{item.getStore.name}}
                                            </p>
                                            <p class="qhtime">{{item.startDate}}</p>
                                            <p class="qhicon zctooltip" >
                                                <i class="zc_giveback_i"></i>
                                                {{item.returnStore.city}} - {{item.returnStore.name}}
                                            </p>
                                            <p class="qhtime">{{item.returnDate}}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ol-aggregate">¥<span>{{item.totalAmount}}</span>
                                        </div>
                                    </td>
                                    <td class="ac">
                                        <span class="s-yellow">{{item.orderstate}}</span>

                                        <a :href="'./myOrderList_detail?orderId='+item.id" class="a-view">查看订单</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-tab-item zc_myorder_info">
                            <table class="zc_table_order" cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                <tr>
                                    <th class="al">订单信息</th>
                                    <th width="197"></th>
                                    <th class="al" width="263">取/还车信息</th>
                                    <th class="ac" width="150">总计</th>
                                    <th class="ac" width="150">订单状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item, index) in order_3">
                                    <td>
                                        {{ggg(index)}}
                                        <img  :src="item.carVo.path"  width="166" height="97">
                                    </td>
                                    <td class="ol-carinfo">
                                        <b>
                                            {{item.carVo.bandname}}{{item.carVo.series}}
                                        </b>
                                        <p>
                                            {{item.carVo.boxQuantity}}厢/{{item.mymix}} |
                                            乘坐{{item.carVo.seatQuantity}}人</p>
                                        <p>订单号：{{item.id}}</p>
                                    </td>
                                    <td>
                                        <div class="ol-caraddress" style="cursor:default;">
                                            <p class="qhicon zctooltip" >
                                                <i class="zc_fetch_i"></i>
                                                {{item.getStore.city}} - {{item.getStore.name}}
                                            </p>
                                            <p class="qhtime">{{item.startDate}}</p>
                                            <p class="qhicon zctooltip" >
                                                <i class="zc_giveback_i"></i>
                                                {{item.returnStore.city}} - {{item.returnStore.name}}
                                            </p>
                                            <p class="qhtime">{{item.returnDate}}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ol-aggregate">¥<span>{{item.totalAmount}}</span>
                                        </div>
                                    </td>
                                    <td class="ac">
                                        <span class="s-gray">{{item.orderstate}}</span>

                                        <a :href="'./myOrderList_detail?orderId='+item.id" class="a-view">查看订单</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--<div class="sz_page_box">-->
                    <!--<div class="sz_page">-->
                        <!--&lt;!&ndash;分页开始 &ndash;&gt;-->
                        <!--<div class="sz_page">-->
                            <!--<a href="/queryOrder/queryOrder.do?page=1"-->
                               <!--class="on" >1-->
                            <!--</a>-->
                        <!--</div>  					&lt;!&ndash;分页结束 &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="orderstate_bd">
                <h3>订单状态说明</h3>
                <ul>
                    <li>
                        <span class="s-green">预订成功</span>
                        <p>订单已确认，尚未提车</p>
                    </li>
                    <li>
                        <span class="s-orange">等待付款</span>
                        <p>订单尚未付款，请在1小时内完成支付</p>
                    </li>
                    <li>
                        <span class="s-blue">处理中</span>
                        <p>您的订单已提交，正在处理中</p>
                    </li>
                    <li>
                        <span class="s-blue">租赁中</span>
                        <p>车辆正在租赁过程中</p>
                    </li>
                    <li>
                        <span class="s-orange">待评价</span>
                        <p>订单完成48小时内，可对我们做出评价</p>
                    </li>
                    <li>
                        <span class="s-yellow">已完成</span>
                        <p>已还车，订单结算完毕</p>
                    </li>
                    <li>
                        <span class="s-gray">已取消</span>
                        <p>订单已经取消</p>
                    </li>
                </ul>
            </div>
            <div class="notice_bd">
                <h3>注意事项</h3>
                <p>1. 修改或取消订单，请您尽早致电400 616 6666申请，送车上门或服务点订单请至少在我们的工作时间内（08:00-20:00）提前2小时修改；</p>
                <p>2. 预付订单，逾时不履行或取消的，退还您预付款中的基础服务费、车辆整备费及可选服务费款项，已付费用将作为违约金恕不退还；</p>
                <p>3. 系统将为您保留一年之内的订单，如需查询更早的订单，请致电24小时热线。</p>
            </div>
        </div>
    </div>
    <div class="row tnc_footer_background">
        <div class="col col-md-10 offset-md-1 tnc_footer_help">
            <dl class="tnc_footer_help_item">
                <dt>租车预订说明</dt>
                <dd>
                    <a target="_blank" href="#">服务时间</a>
                    <a target="_blank" href="#">待租车况</a>
                    <a target="_blank" href="#">服务预订</a>
                    <a target="_blank" href="#">短租产品</a>
                    <a target="_blank" href="#">租车资格</a>
                    <a target="_blank" href="#">取还车说明</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>会员管理</dt>
                <dd>
                    <a target="_blank" href="#">会员章程</a>
                    <a target="_blank" href="#">会员细则</a>
                    <a target="_blank" href="#">定级积分</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>紧急事务处理</dt>
                <dd>
                    <a target="_blank" href="#">保险责任</a>
                    <a target="_blank" href="#">理赔说明</a>
                    <a target="_blank" href="#">事故处理</a>
                    <a target="_blank" href="#">救援及备用车</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>租车费用及结算</dt>
                <dd>
                    <a target="_blank" href="#">价格说明</a>
                    <a target="_blank" href="#">结算流程</a>
                    <a target="_blank" href="#">储值卡</a>
                    <a target="_blank" href="#">积分</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>帮助中心</dt>
                <dd>
                    <a target="_blank" href="#">常见问题</a>
                    <a target="_blank" href="#">新手上路</a>
                    <a target="_blank" href="#">服务规则 </a>
                </dd>
            </dl>
            </dl>
            <!--</div>-->
        </div>
    </div>
    <div class="row tnc_footer_link" style="background-color: #1b2b3b;">
        <div class="col col-10 offset-md-1 tnc_about_link">
            <a title="关于我们" href="https://huodong.zuche.com/gywm/" rel="nofollow">关于我们</a>
            <a title="投资者关系" target="_blank" href="https://ir.zuche.com" rel="nofollow">投资者关系</a>
            <a target="_parent" title="新闻中心" href="https://news.zuche.com/">新闻中心</a>
            <a title="加盟合作" target="_blank" href="https://jiameng.zuche.com">加盟合作</a>
            <a title="隐私保护" target="_parent" href="https://huodong.zuche.com/ysbh/" rel="nofollow">隐私保护</a>
            <a title="网站导航" target="_parent" href="https://help.zuche.com/sitemap/">网站导航</a>
            <a title="联系我们" target="_parent" href="https://huodong.zuche.com/lxwm/" rel="nofollow">联系我们</a>
            <a title="招贤纳士" target="_blank" href="http://hr.ucarinc.com/" rel="nofollow">招贤纳士</a>
            <a target="_blank" href="https://en.zuche.com" class="eng_wz">English<i class="eng_icon"></i></a>
        </div>
        <div class="col col-10 offset-md-1 tnc_copyright">
            <span class="">Copyright©20xx-20xx www.wind.zuche.com All Rights Reserved.　肇庆乘风汽车租赁有限公司 粤ICP备10000518号   粤公网安备号 11010502020518</span>
            <span class="">如果您对乘风租车网站有任何意见，欢迎发送邮件到 <a href="Mailto:web@wind.com" class="">web@wind.com</a></span>
            <span class="">
                    <a target="_blank"
                       href="https://ss.knet.cn/verifyseal.dll?sn=2011091400100014977&amp;ct=df&amp;pa=294005"
                       rel="nofollow" tabindex="-1" id="urlknet" class="sz_k"></a>
                    <a target="_blank" id="___szfw_logo___" href="https://search.szfw.org/cert/l/CX20121016001772002081"
                       rel="nofollow" title="诚信网站" class="sz_c"></a>
                </span>
        </div>
    </div>
</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/layui-v2.4.3/lay/modules/layer.js"></script>
<script src="/bootstrap-4.1.3/js/bootstrap.min.js"></script>
<script src="/layui-v2.4.3/layui.all.js"></script>
<script src="/vue-2.5.17/vue.min.js"></script>
<script src="/js/common/common.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/tenancy/header.js"></script>
<script src="/js/tenancy/myOrderList_show.js"></script>
<script>
    $(document).ready(function () {
        $("#coupon_a_all").addClass('coupon_a_stop');
        $("#left_myOrder").addClass('infoleft_a');
    });
    // function couponAndPoint() {
    //     $.ajax({
    //         type:"get",
    //         url: "/api/customer/countCouponAndPoint",
    //         success:function (res) {
    //             if(res.code==0) {
    //                 console.log(res);
    //                 document.getElementById("pointNum").innerText="("+res.point+"分)";
    //                 document.getElementById("couponCount").innerText="("+res.count+"张)";
    //             } else {
    //                 handleAjax(res);
    //             }
    //         }
    //     })
    // }
</script>
</body>
</html>