<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order2</title>
	<link rel="stylesheet" href="/css/MyOrder.css" />
	<link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.css" />
	<link rel="stylesheet" href="/bootstrap-4.1.3/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/style.css"/>
</head>
<body class="main">
<div class="orderDetails">
	<div class="order-block">
		<div class="order-inner">
			<img class="order-proce" src="https://image.zuchecdn.com/newversion/news/ordernew/order_proce.png">
			<div class="car-info">
				<div class="ifl">
					<div class="img">
						<image src="https://fimg.zuchecdn.com/upload/web/modepic/480.jpg" width="180" height="105"></image>
					</div>
					<div class="lin">
						<p class="lp1">起亚K2</p>
						<p class="lp2">三厢/1.4自动 | 乘坐5人</p>
						<div class="base-btn">
							<!-- <a class="look-config" href="#" data-toggle="modal" data-target="#car-details">查看配置信息</a> -->
							<input class="tnc_btn tnc_btn_green look-config" value="查看配置信息" type="button" data-toggle="modal" data-target="#car-details">
							<!-- <a class="look-change" href="#">修改订单</a> -->
							<a class="tnc_btn tnc_btn_outline_green look-change" value="tnc_btn tnc_btn_outline_green">修改订单</a>
						</div>
					</div>
				</div>
				<div class="ifr">
					<div class="detail">
						<ul class="ul">
							<li class="bdr" style="list-style:none">
								<p class="line1">
									<i class="ifr-qc"></i>
									<span style="font-size:18px;color:#60606c;">取车</span>
								</p>
								<p class="line2">
									<i class="ifr-time"></i>
									<span style="font-size:16px;color:#93939e;">2018-09-04 10:00</span>
								</p>
								<p class="line3">
									<i class="ifr-local"></i>
									<span style="font-size:16px;color:#93939e;">肇庆 星湖大道店</span>
								</p>
							</li>
						</ul>
					</div>
					<div class="detail">
						<ul class="ul">
							<li class="bdr" style="list-style:none">
								<p class="line1">
									<i class="ifr-hc"></i>
									<span style="font-size:18px;color:#60606c;">还车</span>
								</p>
								<p class="line2">
									<i class="ifr-time"></i>
									<span style="font-size:16px;color:#93939e;">2018-09-06 10:00</span>
								</p>
								<p class="line3">
									<i class="ifr-local"></i>
									<span style="font-size:16px;color:#93939e;">肇庆 星湖大道店</span>
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="newpg-conf">
		<div class="newpg-con">
			<div class="memberInfo">
				<h3>租车人信息<span class="ifred">请认真填写一下信息，取车时需要现场核对！</span></h3>
				<div class="partInfo">
					<form class="form-info">

						<div class="formGrop" style="position:relative;">
							<div class="name-label"><i style="color:red;">*&nbsp&nbsp</i>姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名</div>
							<input name="xname" id="xname" style="margin-left:15px;" class="tnc_input" type="text" placeholder=请输入您的姓名 default-value="请输入您的姓名" value="" maxlength="50" onblur="checkMemberFormName();">
							<div class="order-errorbox order-erpos" style="display: none;">
								<span class="arout">◆<span class="arin">◆</span></span>
								<span class="zc-retan"></span>
								<i class="err-con" id="nameInfo">请输入真实姓名！</i>
								<span class="zc-close"></span>
							</div>

						</div>
						<div class="formGrop">
							<div class="name-label"><i style="color:red;">*&nbsp&nbsp</i>证件类型</div>
							<select class="tnc_input" style="width:240px;height:30px;margin-left:15px;padding: 0 2%;" id="xcardtype" default-value="请选择证件类型">
								<option id="op" type-id="10">身份证</option>
								<option id="op" type-id="11">台湾居民来往大陆通行证</option>
								<option id="op" type-id="12">港澳居民来往内地通行证</option>
								<option id="op" type-id="13">外籍护照</option>
							</select>
						</div>
						<div class="formGrop" style="position:relative;">
							<div class="name-label"><i style="color:red;">*&nbsp&nbsp</i>证件号码</div>
							<input value="" class="tnc_input" style="margin-left:15px;" onblur="checkMemberIdentitycard();" name="xidentitycard" placeholder=请输入证件号码 default-value="请输入证件号码" id="xidentitycard" maxlength="20" type="text">
							<div class="order-errorbox1 order-erpos1" style="display: none;">
								<span class="arout">◆<span class="arin">◆</span></span>
								<span class="zc-retan"></span>
								<i class="err-con" id="identitycardInfo">请输入证件号码！</i>
								<span class="zc-close"></span>
							</div>
						</div>
						<div class="formGrop" style="position:relative;">
							<div class="name-label">&nbsp&nbsp&nbsp&nbsp邮&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp箱</div>
							<input default-value="请输入邮箱" style="margin-left:15px;" placeholder=请输入邮箱 class="tnc_input" value="" id="memberEmail" name="xemail" onblur="checkMemberEmail();" maxlength="50" type="text">
							<div class="order-errorbox2 order-erpos2" style="display: none;">
								<span class="arout">◆<span class="arin">◆</span></span>
								<span class="zc-retan"></span>
								<i class="err-con" id="emailInfo">您输入的邮箱地址有误，请认真核实！</i>
								<span class="zc-close"></span>
							</div>
							<!-- <div class="" style="display:flex;margin-left:20px;"> -->
							<input class="tnc_input acceptInfo" type="checkbox" >
							<p style="margin: 0 0 0 4px">希望接收租车优惠信息</p>
							<!-- </div> -->
						</div>

					</form>
				</div>

			</div>
			<div class="info-msg">
				<p>下单成功后，提醒信息会发送至手机
					<i id="mmid">178****3431</i>
					<a href="javascript:void(0)" data-toggle="modal" data-target="#modifyModel">[修改]</a>
				</p>
			</div>
			<div class="papers-tip">
				<p>取车时,出示以下证件的原件：本人二代身份证、本人国内有效驾驶证正副本、本人一张信用及可用额度均不低于3000元的国内有效信用卡，所有证件有效期须至少超过当次租期的两个月以上。</p>
			</div>
			<div>
				<h3>费用明细</h3>
				<ul class="h3h feeul">
					<li style="list-style:none">
						<span class="fee-txt">车辆租赁及服务费</span>
						<span class="fee-res">¥356</span>
						<span class="fee-pro">178x2</span>
						<div class="clear"></div>
					</li>
					<li style="position:relative;z-index:10;list-style:none">
									<span class="fee-txt">基础服务费<i class="blue-ques">
										<div class="bx-bubble">
											<i class="litar-l"></i>
											<dl>
												<dd>基础服务费包括车辆意外事故损失，呼叫中心服务，车辆救援、维修及保养服务，人工服务等服务内容的费用。</dd>
												<dd>车辆意外事故损失范围包括：车辆损失（1500以内的损失由客户方承担）；第三者责任 20万元；全车盗抢，玻璃单独破碎及自燃损失。</dd>
												<dd>车辆意外事故损失范围由神州向保险公司投保及神州共同负责承担。 </dd>
												<dd>本项目为必购项目，按天计算，超时4小时以上按1天计算，超时4小时以内不另计算。</dd>
											</dl>
										</div>
									</i></span>
						<span class="fee-res">¥80</span>
						<span class="fee-pro">40x2</span>
						<div class="clear"></div>
					</li>
					<li class="opcl" style="list-style:none">
						<span class="fee-txt">其他费用<i class="blue-downarr"></i></span>
						<span class="fee-res"><i id="otherPriceTotal" total="20">20</i></span>
						<span class="fee-pro">合计</span>
						<div class="clear"></div>
					</li>
				</ul>
			</div>
			<div class="gopay orderFeeTotal">
				<div class="paydetail">
					<span class="ddzj">
							订单总价
						</span>
					<span class="ddall"><i>¥</i><i class="orderTotalPrice all">456</i></span>
				</div>
				<!-- <a href="javascript:void(0);" onclick="goFourthStep()" id="monitor_fourth_next" class="gopay-blue">提交订单</a> -->
				<input class="tnc_btn tnc_btn_green gopay-blue" onclick="goFourthStep()" value="提交订单" id="monitor_fourth_next" type="button">
			</div>
		</div>
	</div>
	<div class="newpg-tggz">
		<div class="newpg-con">
			<div class="top">退改规则</div>
			<dl>
				<dd>（小贴士：如果您修改订单或取消订单重新预订，价格可能会发生变化。）</dd>
				<br><br>
			</dl>
		</div>
	</div>
</div>
<div class="modal fade" id="car-details">
	<div class="modal-dialog" style="max-width:600px;">
		<div class="modal-content">

			<!-- 模态框头部 -->
			<div class="modal-header">
				<h4 class="modal-title">起亚K2配置信息</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- 模态框主体 -->
			<div class="modal-body">
				<div class="cflist">
					<ul>
						<li>
							<b class="zws">&nbsp;</b>座 位 数：
							<span>
										5
								</span>
						</li>
						<li>
							<b class="cms">&nbsp;</b>车 门 数：
							<span>
										4
								</span>
						</li>
						<li>
							<b class="rllx">&nbsp;</b>燃料类型：
							<span>
										汽油
								</span>
						</li>
						<li>
							<b class="bsxlx">&nbsp;</b>变速箱类型：
							<span>
										AT
								</span>
						</li>
						<li>
							<b class="pl">&nbsp;</b>排　　量：
							<span>1396</span>
						</li>
						<li>
							<b class="rybh">&nbsp;</b>燃油标号：
							<span>
										92-93汽油
								</span>
						</li>
						<li>
							<b class="qdfs">&nbsp;</b>驱动方式：
							<span>
										前驱
								</span>
						</li>
						<li>
							<b class="fdjjqxs">&nbsp;</b>发动机进气形式：
							<span>
										自然吸气
								</span>
						</li>
						<li>
							<b class="tc">&nbsp;</b>天　　窗：
							<span>
										无
								</span>
						</li>
						<li>
							<b class="yxrl">&nbsp;</b>油箱容量：
							<span>
										43
								</span>
						</li>
						<li>
							<b class="yx">&nbsp;</b>音　　箱：
							<span>
										4
								</span>
						</li>
						<li>
							<b class="zy">&nbsp;</b>座　　椅：
							<span>
										织物座椅
								</span>
						</li>
						<li>
							<b class="dcld">&nbsp;</b>倒车雷达：
							<span>
										无
								</span>
						</li>
						<li>
							<b class="qin">&nbsp;</b>气　　囊：
							<span>
										2
								</span>
						</li>
						<li class="nonebd">
							<b class="dvd">&nbsp;</b>DVD / CD：
							<span>
										CD
								</span>
						</li>
						<li class="nonebd">
							<b class="gps">&nbsp;</b>GPS导航：
							<span>
										无
								</span>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="modal fade" id="modifyModel">
	<div class="modal-dialog" style="width:480px;height:410px;">
		<div class="modal-content">

			<!-- 模态框头部 -->
			<div class="modal-header">
				<h4 class="modal-title">修改手机号</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- 模态框主体 -->
			<div class="modal-body">
				<div class="modify-pass"  style="display: block;">
					<ul class="modiul">
						<li>
							<label>原手机号</label>
							<input class="tnc_input" placeholder="请输入原手机号">
							<div class="order-errorboxred order-erpos" style="display: none;">
								<i class="err-con" id="moldTelid">请先输入原手机号</i>
							</div>
						</li>
						<li>
							<label>新手机号</label>
							<!-- <input class="tnc_input" type="text" value="" id="newTelid" placeholder="请输入新手机号" maxlength="11" onkeyup="value=value.replace(/[^\d]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"> -->
							<input class="tnc_input" placeholder="请输入新手机号">
							<div class="order-errorboxred order-erpos" style="display: none;">
								<i class="err-con" id="mnewTelid">请输入您的手机号</i>
							</div>
						</li>
						<li>
							<label>验证码</label>
							<!-- <input type="text" value="" id="yzm" placeholder="验证码" class="s" onkeyup="value=value.replace(/[^\d]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"> -->
							<input class="tnc_input s" placeholder="验证码">
							<div class="yzm-pic">
								<img id="kaptchaImage" width="70" height="30" src="https://passport.zuche.com/common/getYzmImage.do?t=1536044308257">
							</div>
							<span class="kanbuqing" id="changeYzmBT">看不清<br>换一张</span>
							<div class="order-errorboxred order-erpos">
								<i class="err-con" id="myzm"></i>
							</div>
						</li>
						<li>
							<label>手机验证码</label>
							<!-- <input type="text" value="" id="verifyid" placeholder="手机验证码" class="s" onkeyup="value=value.replace(/[^\d]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"> -->
							<input class="tnc_input s" placeholder="手机验证码">
							<!-- <input type="button" id="sendKeyid" class="getyzm" onclick="sendKey()" value="获取验证码"> -->
							<a class="tnc_btn tnc_btn_outline_green getyzm" value="获取验证码">获取验证码</a>
							<div class="order-errorboxred order-erpos" style="display: none;">
								<i class="err-con" id="mverifyid"></i>
							</div>
						</li>
						<li class="mtxt">修改成功后，请使用新手机号登录。</li>
					</ul>
					<!-- <input type="button" class="mod-save" id="saveid" value="保存"><br>  -->
					<input class="tnc_btn tnc_btn_green mod-save" value="保存" type="button">
				</div>
			</div>

		</div>
	</div>
</div>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/bootstrap-4.1.3/js/bootstrap.js"></script>
	<script src="/js/MyOrder.js"></script>
</body>
</html>
