<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>乘风租车————全球租车领导品牌</title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/bootstrap-4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/paySuccess.css">
</head>
<body>
<div class="container-fluid tnc_container tnc_header">
	<div v-cloak id="header-app" class="row tnc_head">
		<div class="tnc_head_bd">
			<div><a class="tnc_head_brand tnc_logo" href="/"></a></div>
			<div class="tnc_head_menu" >
				<ul class="">
					<li class="tnc_head_menu_item">
						<a class="tnc_head_menu_active" href="/">首页 <span class="sr-only">(current)</span></a>
					</li>
					<li class="tnc_head_menu_item">
						<a class="" href="/headList">选车</a>
					</li>
					<li class="tnc_head_menu_item">
						<a class="" href="/storesMap">门店</a>
					</li>
				</ul>
			</div>
			<div class="tnc_head_right">
				<div v-show="!customer.id" class="tnc_head_login tnc_header_active" style="display: none">
					<a href="login" class="">登录</a> / <a href="/register" class="">注册</a>
				</div>
				<div v-show="customer.id" class="tnc_head_login" >
					<h1 class="tnc_head_welcome">您好，{{customer.name}}</h1>
					<div id="tnc_toggle_area" class="tnc_head_dropdown">
						<a id="tnc_toggle_area_btn" href="/tenancy/p/myOrderList">个人中心&nbsp;<i class="fa fa-caret-down"></i></a>
						<div id="tnc_toggle_menu" style="display: none">
							<div class="triangle_border_up"></div>
							<div class="tnc_collapse_list" >
								<a href="/tenancy/p/myOrderList" class="bhpr reddot">我的订单</a>
								<a href="/tenancy/p/coupon">我的资产</a>
								<a href="/tenancy/p/personInfo">我的账户</a>
								<a href="javascript:;" @click="logout">退出登录</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tnc_head_tel">
					<div class="">
                            <span class="">
                                <i class="fa fa-phone"></i>
                                <span>408-666-666</span>
                            </span>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="wrap1">
	<div class="wrap2">
		<div class="tdou_wrap">
			<div class="messOuter" v-cloak>
				<div class="mess">
					<img src="http://tb2.bdstatic.com/tb/static-comforum/widget/tdou_success/img/success_1d68c01.png">
					<span>支付成功</span>
				</div>
				<span class="costMoney">您已成功支付
					<span class="money-num-color">{{order_detail.totalAmount}}</span>元，
					<span class="money-num-color change">5秒后</span>跳转回首页
				</span>
				<div class="recharge-info">
					<div class="recharge-item">
						<span class="recharge-left">租期：</span>
						<span class="game-name">{{days}}天</span>
					</div>
					<div class="recharge-item">
						<span class="recharge-left">姓名：</span>
						<span class="game-account">{{order_detail.name}}</span>
					</div>
					<div class="recharge-item">
						<span class="recharge-left">租用车：</span>
						<span class="game-name">{{car_info.tncBrand.name}}{{car_info.series}} {{car_number}}</span>
					</div>
					<div class="recharge-item">
						<span class="recharge-left">订单ID：</span>
						<span class="game-account">{{order_detail.id}}</span>
					</div>
					<div class="recharge-item">
						<span class="recharge-left">支付时间：</span>
						<span class="game-time">{{order_detail.payTime}}</span>
					</div>
					<input class="tnc_btn tnc_btn_green gopay-blue recharge"
						   value="继续预订"
						   id="monitor_fourth_next"
						   type="button"
						   style="position: relative;left: 80px"
						   onclick="javascript:window.location.href='/tenancy/p/headList'">
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/layui-v2.4.3/lay/modules/layer.js"></script>
<script src="/bootstrap-4.1.3/js/bootstrap.min.js"></script>
<script src="/vue-2.5.17/vue.min.js"></script>
<script src="/js/common/common.js"></script>
<script src="/js/tenancy/paySuccess.js"></script>
<script src="/js/tenancy/header.js"></script>
</body>
</html>