<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>个人信息页</title>
</head>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/bootstrap-4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/personInfo.css">
<body>
<div class="container-fluid tnc_container tnc_header">
    <div v-cloak id="header-app" class="row tnc_head">
        <div class="tnc_head_bd">
            <div><a class="tnc_head_brand tnc_logo" href="/"></a></div>
            <div class="tnc_head_menu">
                <ul class="">
                    <li class="tnc_head_menu_item">
                        <a class="tnc_head_menu_active" href="/">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="tnc_head_menu_item">
                        <a class="" href="#">选车</a>
                    </li>
                    <li class="tnc_head_menu_item">
                        <a class="" href="#">门店</a>
                    </li>
                </ul>
            </div>
            <div class="tnc_head_right">
                <div v-show="!customer.id" class="tnc_head_login tnc_header_active" style="display: none">
                    <a href="login" class="">登录</a> / <a href="/register" class="">注册</a>
                </div>
                <div v-show="customer.id" class="tnc_head_login">
                    <h1 class="tnc_head_welcome">您好，{{customer.name}}</h1>
                    <div id="tnc_toggle_area" class="tnc_head_dropdown">
                        <a id="tnc_toggle_area_btn" href="#">个人中心&nbsp;<i class="fa fa-caret-down"></i></a>
                        <div id="tnc_toggle_menu" style="display: none">
                            <div class="triangle_border_up"></div>
                            <div class="tnc_collapse_list">
                                <a href="#" class="bhpr reddot">我的订单</a>
                                <a href="#">我的资产</a>
                                <a href="#">我的账户</a>
                                <a href="javascript:;" @click="logout">退出登录</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tnc_head_tel">
                    <div class="">
                        <span class="">
                            <i class="fa fa-phone"></i>
                            <span>408-666-666</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-3 myleft offset-md-1">
            <div class="infoleft_bd">
                <dl>
                    <dt class="info_h2">订单中心</dt>
                    <dd><a href="javascript:void(0);" id="left_myOrder">我的订单</a></dd>
                </dl>
                <dl>
                    <dt class="info_h2">我的账户</dt>
                    <dd><a href="/tenancy/p/personInfo" id="left_myInfo">我的信息</a></dd>
                    <dd><a href="/tenancy/p/updatePassword" id="left_updatePwd">修改密码</a></dd>
                    <dd><a href="/tenancy/p/coupon" id="left_coupon">优惠券
                        <span id="couponCount"></span></a></dd>
                    <dd><a href="/tenancy/p/usablePoint" id="left_point">可用积分
                        <span id="pointNum"></span></a></dd>
                </dl>
                <dl>
                    <dt class="info_h2">积分商城</dt>
                    <dd><a href="/tenancy/p/pointMall" id="left_pointMall">积分商城</a></dd>
                </dl>
            </div>
        </div>
        <div class="col-md-8 col-sm-9 myright">
            <div class="info_bd">
                <h2 class="info_h2">我的信息</h2>
                <div>
                    <form id="customerInfo" action="">
                        <div >
                        <ul>
                            <li>
                                <div class="row">
                                    <label class="info_label col-md-3 col-sm-2">姓名</label>
                                    <span class="info_span col-md-6 col-sm-6">
                                    <input type="text" class="tnc_input info_input" id="name" v-model="customer.name"
                                           placeholder="真实姓名，方便租车时核对身份">
                                </span>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="row">
                                    <label class="info_label col-md-3 col-sm-2">性别</label>
                                    <span class="info_span col-md-6 col-sm-6">
                                        &nbsp;&nbsp;
                                        <input type="radio" name="gender" id="man" value="1">&nbsp;男&emsp;&nbsp;&nbsp;
                                        <input type="radio" name="gender"id="lady" value="0" >&nbsp;女
                                    </span>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="row">
                                    <label class="info_label col-md-3 col-sm-2">证件</label>
                                    <span class="info_span col-md-6 col-sm-6">
                                        <input type="text" class="tnc_input info_input" id="card_code" v-model="customer.idCard"
                                        placeholder="输入证件号码">
                                    </span>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="row">
                                    <label class="info_label col-md-3 col-sm-2">手机号码</label>
                                    <span class="info_span col-md-6 col-sm-6">
                                    <input type="text" class="tnc_input info_input"
                                           style="background-color: #ffffff; border:none" id="userPhone" disabled v-model="customer.phone">
                                </span>
                                    <span id="changePhoneBtn"
                                          class="info_changephone info_float_r col-md-2 col-sm-2">修改</span>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li id="changePhoneForm" style="min-height: 120px;display: none;padding-top: 12px; ">
                                <div class="row">
                                    <label class="info_label col-md-3 col-sm-2">手机号码</label>
                                    <span class="info_span col-md-6 col-sm-6" style="line-height: 50px;">
                                    <div>
                                        <input type="text" class="tnc_input info_input" id="currentPhone" value=""
                                               placeholder="原手机号">
                                        <input type="text" class="tnc_input info_input" id="newPhone" value="" placeholder="新手机号">
                                    </div>
                                    <!--<div style="height: 50px;">
                                        <input type="text" class="tnc_input" style="width: 50%;" id="xcode" value=""
                                               placeholder="手机动态码" maxlength="6">
                                        <a href="javascript:;" class="tnc_btn tnc_btn_outline_green info_code" id="getYzmBtn"
                                           onclick="getVerify_Code()">获取手机动态码</a>
                                    </div>-->
                                </span>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="row">
                                    <label class="info_label col-md-3 col-sm-2">电子邮箱</label>
                                    <span class="info_span col-md-6 col-sm-6">
                                <input type="text" class="tnc_input info_input" v-model="customer.email" value=""
                                       placeholder="输入常用邮箱">
                            </span>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li style="padding: 12px 0 10px 0; height:auto">
                                <div class="row">
                                    <label class="info_label col-md-3 col-sm-2">通信地址</label>
                                    <span class="igirnfo_span col-md-6 col-sm-6" style="line-height: 40px">
                                        <div>
                                            <div>
                                                <select @change="changeAddress(0)" v-model="customer.tncAddress.province.id" class="tnc_input info_select" id="province">
                                                    <option value="0">请选择省</option>
                                                    <option v-for="item in provinces" :value="item.id" :selected="item.id==customer.tncAddress.province.id">{{item.name}}</option>
                                                </select>
                                            </div>
                                            <div>
                                                <select @change="changeAddress(1)" class="tnc_input info_select" id="city" v-model="customer.tncAddress.city.id" >
                                                    <option value="0">请选择市</option>
                                                    <option v-for="item in citys" :value="item.id" :selected="item.id==customer.tncAddress.city.id">{{item.name}}</option>
                                                </select>
                                            </div>
                                            <div>
                                                <select class="tnc_input info_select" id="area" v-model="customer.tncAddress.area.id" >
                                                    <option value="0">请选择区（县）</option>
                                                    <option v-for="item in areas" :value="item.id" :selected="item.id==customer.tncAddress.area.id">{{item.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <input type="text" class="tnc_input info_input" id="detail" v-model="customer.tncAddress.detail"
                                           placeholder="输入详细地址">
                                    </span>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="row">
                                    <label class="info_label col-md-3 col-sm-2">紧急联系人</label>
                                    <span class="info_span col-md-6 col-sm-6">
                                        <input type="text" class="tnc_input info_input" v-model="customer.emergencyUserName" placeholder="请输入紧急联系人姓名">
                                    </span>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="row">
                                    <label class="info_label col-md-3 col-sm-2">紧急联系电话</label>
                                    <span class="info_span col-md-6 col-sm-6">
                                <input type="text" class="tnc_input info_input" v-model="customer.emergencyUserPhone" placeholder="请输入紧急联系人电话">
                            </span>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li style="height: 100px">
                                <div style="height: 100px; line-height: 100px; margin-left: 215px">
                                    <button type="button" class="tnc_btn tnc_btn_green" id="save_btn" @click="saveInfo()">保存
                                    </button>
                                </div>
                                <div class="clear"></div>
                            </li>
                        </ul>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row tnc_footer_background">
        <div class="col-sm-12 col-md-10 offset-md-1 tnc_footer_help">
            <dl class="tnc_footer_help_item">
                <dt>租车预订说明</dt>
                <dd>
                    <a target="_blank" href="#">服务时间</a>
                    <a target="_blank" href="#">待租车况</a>
                    <a target="_blank" href="#">服务预订</a>
                    <a target="_blank" href="#">短租产品</a>
                    <a target="_blank" href="#">租车资格</a>
                    <a target="_blank" href="#">取还车说明</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>会员管理</dt>
                <dd>
                    <a target="_blank" href="#">会员章程</a>
                    <a target="_blank" href="#">会员细则</a>
                    <a target="_blank" href="#">定级积分</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>紧急事务处理</dt>
                <dd>
                    <a target="_blank" href="#">保险责任</a>
                    <a target="_blank" href="#">理赔说明</a>
                    <a target="_blank" href="#">事故处理</a>
                    <a target="_blank" href="#">救援及备用车</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>租车费用及结算</dt>
                <dd>
                    <a target="_blank" href="#">价格说明</a>
                    <a target="_blank" href="#">结算流程</a>
                    <a target="_blank" href="#">储值卡</a>
                    <a target="_blank" href="#">积分</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>帮助中心</dt>
                <dd>
                    <a target="_blank" href="#">常见问题</a>
                    <a target="_blank" href="#">新手上路</a>
                    <a target="_blank" href="#">服务规则 </a>
                </dd>
            </dl>
            </dl>
        </div>
    </div>
    <div class="row tnc_footer_link" style="background-color: #1b2b3b;">
        <div class="col col-10 offset-md-1 tnc_about_link">
            <a title="关于我们" href="https://huodong.zuche.com/gywm/" rel="nofollow">关于我们</a>
            <a title="投资者关系" target="_blank" href="https://ir.zuche.com" rel="nofollow">投资者关系</a>
            <a target="_parent" title="新闻中心" href="https://news.zuche.com/">新闻中心</a>
            <a title="加盟合作" target="_blank" href="https://jiameng.zuche.com">加盟合作</a>
            <a title="隐私保护" target="_parent" href="https://huodong.zuche.com/ysbh/" rel="nofollow">隐私保护</a>
            <a title="网站导航" target="_parent" href="https://help.zuche.com/sitemap/">网站导航</a>
            <a title="联系我们" target="_parent" href="https://huodong.zuche.com/lxwm/" rel="nofollow">联系我们</a>
            <a title="招贤纳士" target="_blank" href="http://hr.ucarinc.com/" rel="nofollow">招贤纳士</a>
            <a target="_blank" href="https://en.zuche.com" class="eng_wz">English<i class="eng_icon"></i></a>
        </div>
        <div class="col col-10 offset-md-1 tnc_copyright">
            <span class="">Copyright©20xx-20xx www.wind.zuche.com All Rights Reserved.　肇庆乘风汽车租赁有限公司 粤ICP备10000518号   粤公网安备号 11010502020518</span>
            <span class="">如果您对乘风租车网站有任何意见，欢迎发送邮件到 <a href="Mailto:web@wind.com" class="">web@wind.com</a></span>
            <span class="">
                    <a target="_blank"
                       href="https://ss.knet.cn/verifyseal.dll?sn=2011091400100014977&amp;ct=df&amp;pa=294005"
                       rel="nofollow" tabindex="-1" id="urlknet" class="sz_k"></a>
                    <a target="_blank" id="___szfw_logo___" href="https://search.szfw.org/cert/l/CX20121016001772002081"
                       rel="nofollow" title="诚信网站" class="sz_c"></a>
                </span>
        </div>
    </div>
</div>

<!--模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" style="margin: 6rem auto" role="document">
        <div class="modal-content">
            <div class="modal-header modal_hd_color">
                <p class="modal-title" style="font-size: 16px">请输入以下验证码，获取手机动态码</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body vcodeinput" style="height: 200px">
                <input id="verifyCode" class="tnc_input code_input" placeholder="请输入验证码">
                <span class="pic-yzm fr">
                        <img id="yzmImg_float" src="" width="108px" height="36px">
                    <i id="fresh_float" class="zc-fresh" onclick="changeImageVerifyCode()"></i>
                </span>
            </div>
            <div class="modal-footer" style="margin: 0 auto">
                <button type="button" class="tnc_btn tnc_btn_green"  onclick="sub_verify_code()">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/layui-v2.4.3/lay/modules/layer.js"></script>
<script src="/bootstrap-4.1.3/js/bootstrap.min.js"></script>
<script src="/vue-2.5.17/vue.js"></script>
<script src="/js/common/common.js"></script>
<script src="/js/tenancy/header.js"></script>
<script src="/js/tenancy/personInfo.js"></script>
<script>
    $(document).ready(function () {
        $("#changePhoneBtn").click(function () {
            var display = $("#changePhoneForm").toggle().is(':hidden');
            if (display) {
                $("#changePhoneBtn").html("修改")
            } else {
                $("#changePhoneBtn").html("取消修改")
            }
        });
        $("#left_myInfo").addClass('infoleft_a');
    });
    window.onkeydown = function(){
        if (event.keyCode===13){  //回车键的键值为13
            $("#save_btn").click();//模拟按下submit确认按钮
        }
    }
</script>
</html>