<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>注册成功--乘风租车</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/bootstrap-4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/register.css">

</head>
<body>
<div class="container-fluid tnc_container tnc_header">
    <div class="row tnc_head">
        <div class="tnc_head_bd">
            <div><a class="tnc_head_brand tnc_logo" href="/"></a></div>
            <div class="tnc_head_menu" >
                <ul class="">
                    <li class="tnc_head_menu_item">
                        <a class="tnc_head_menu_active" href="/">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="tnc_head_menu_item">
                        <a class="" href="#">选车</a>
                    </li>
                    <li class="tnc_head_menu_item">
                        <a class="" href="#">门店</a>
                    </li>
                </ul>
            </div>
            <div class="tnc_head_right">
                <div class="tnc_head_tel">
                    <div class="">
                            <span class="">
                                <i class="fa fa-phone"></i>
                                <span>408-666-666</span>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form_bg">
            <div class="form_body">
                <div class="content_text">
                    <div class="text_tips">
                        <div class="successText successgreen">恭喜您，已经成为乘风租车会员！</div>

                        <a href="/index" class="tnc_btn tnc_btn_green tohire" >去租车</a>
                    </div>
                </div>
                <div class="form_coupon">
                    <div class="text_tips">
                        <div class="successText">新用户专享券已到账，请点击查看！</div>
                        <span  class="congText">赶紧开启租车之旅吧</span>

                        <a href="/coupon" class="tnc_btn tnc_btn_green tohire">点击查看我的优惠券</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 tnc_icon_list">
            <div class="tnc_md_icon_item" style="border-left: 1px solid #e9ebee;">
                <i class="fa fa-car" style="font-size: 32px;color: var(--tnc_green);"></i>
                <p>100+车型</p>
            </div>
            <div class="tnc_md_icon_item"  style="border-left: 1px solid #e9ebee;">
                <i class="fa fa-map-marker" style="font-size: 32px;color: var(--tnc_green);"></i>
                <p>1000+网点</p>
            </div>
            <div class="tnc_md_icon_item"  style="border-left: 1px solid #e9ebee;">
                <i class="fa fa-wrench" style="font-size: 32px;color: var(--tnc_green);"></i>
                <p>100%车检</p>
            </div>
            <div class="tnc_md_icon_item"  style="border-left: 1px solid #e9ebee;border-right: 1px solid #e9ebee;">
                <i class="fa fa-tachometer" style="font-size: 32px;color: var(--tnc_green);"></i>
                <p>无限里程</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-10 offset-md-1 tnc_footer_help">
            <dl class="tnc_footer_help_item">
                <dt>租车预订说明</dt>
                <dd>
                    <a target="_blank" href="#">服务时间</a>
                    <a target="_blank" href="#">待租车况</a>
                    <a target="_blank" href="#">服务预订</a>
                    <a target="_blank" href="#">短租产品</a>
                    <a target="_blank" href="#">租车资格</a>
                    <a target="_blank" href="#">取还车说明</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>会员管理</dt>
                <dd>
                    <a target="_blank" href="#">会员章程</a>
                    <a target="_blank" href="#">会员细则</a>
                    <a target="_blank" href="#">定级积分</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>紧急事务处理</dt>
                <dd>
                    <a target="_blank" href="#">保险责任</a>
                    <a target="_blank" href="#">理赔说明</a>
                    <a target="_blank" href="#">事故处理</a>
                    <a target="_blank" href="#">救援及备用车</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>租车费用及结算</dt>
                <dd>
                    <a target="_blank" href="#">价格说明</a>
                    <a target="_blank" href="#">结算流程</a>
                    <a target="_blank" href="#">储值卡</a>
                    <a target="_blank" href="#">积分</a>
                </dd>
            </dl>
            <dl class="tnc_footer_help_item">
                <dt>帮助中心</dt>
                <dd>
                    <a target="_blank" href="#">常见问题</a>
                    <a target="_blank" href="#">新手上路</a>
                    <a target="_blank" href="#">服务规则 </a>
                </dd>
            </dl>
            </dl>
        </div>
    </div>
</div>


<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/bootstrap-4.1.3/js/bootstrap.min.js"></script>
<script src="/layui-v2.4.3/lay/modules/layer.js"></script>
<script src="/js/common/common.js"></script>

</body>
</html>