<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script>

        function dd() {
            let orderData = {
                out_trade_no:$("#orderId").val(),//订单ID 必填 不能重复
                total_amount:$("#orderAmount").val(), //订单价格 必填
                subject:$("#orderName").val(),//订单名 必填
                body:$("#orderDes").val(),//订单描述
                product_code:"FAST_INSTANT_TRADE_PAY"
            }
            //alert(JSON.stringify(orderData))
            $.ajax({
                type:"POST",
                url:"/myPay",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(orderData),
                success:function (data) {
                    $("body").html(data);
                }
            })
        }
    </script>
</head>
<body>
<form name=alipayment action=/myPay method=post
      target="_blank">
    <div id="body1" class="show" name="divcontent">
        <dl class="content">
            <dt>商户订单号 ：</dt>
            <dd>
                <input id="orderId" name="orderId" />
            </dd>
            <hr class="one_line">
            <dt>订单名称 ：</dt>
            <dd>
                <input id="orderName" name="orderName" />
            </dd>
            <hr class="one_line">
            <dt>付款金额 ：</dt>
            <dd>
                <input id="orderAmount" name="orderAmount" />
            </dd>
            <hr class="one_line">
            <dt>商品描述：</dt>
            <dd>
                <input id="orderDes" name="orderDes" />
            </dd>
            <hr class="one_line">
						<span class="new-btn-login-sp">
							<button id="btn-dd" class="new-btn-login" type="button" onclick="dd()"
                                    style="text-align: center;">付 款</button>
						</span> <span class="note-help">如果您点击“付款”按钮，即表示您同意该次的执行操作。</span>
        </dl>
    </div>
</form>
</body>
</html>