<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改登录密码</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/bootstrap-4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/personInfo.css">
    <style type="text/css">
        body {
            background-color: #f2f3f5;
            padding: 5px 35px;
        }
    </style>
</head>
<body>
<div class="info_myright">
    <div class="info_bd info_coltdinfo">
        <h2 class="info_h2">修改密码</h2>
        <div>
            <form>
                <ul>
                    <li>
                        <div>
                            <label class="info_label">原密码</label>
                            <span class="info_span">
                                <input type="password" class="tnc_input info_input" id="" value="" placeholder="输入原来密码" required>
                            </span>
                        </div>
                        <div class="info_float_r">核对身份后，才可修改密码</div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div>
                            <label class="info_label">新密码</label>
                            <span class="info_span">
                                <input type="password" class="tnc_input info_input" id="new_pwd" value=""  placeholder="建议6-18位数字、字母、符号的组合密码" required>
                            </span>
                        </div>
                        <div class="info_float_r">请牢记新密码</div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div>
                            <label class="info_label">确认密码</label>
                            <span class="info_span">
                                <input type="password" class="tnc_input info_input"  data-equal-to="#new_pwd" value=""  placeholder="再次输入密码" required>
                            </span>
                        </div>
                        <div class="info_float_r">再次输入新密码</div>
                        <div class="clear"></div>
                    </li>
                    <li style="height: 100px">
                        <div style="height: 100px; line-height: 100px; margin-left: 215px">
                            <button type="submit" class="tnc_btn tnc_btn_green">保存</button>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<div class="clear"></div>
</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/bootstrap-4.1.3/js/bootstrap.min.js"></script>
<script src="/vue-2.5.17/vue.min.js"></script>
<script src="/js/common/common.js"></script>
<script>
    var form = $('body').find('form');
    form.validate({
        rules : {
            username : {checkUsernameExist : true, checkUsernameTel: true},
            ensurePassword : {equalTo: "#dlmm"},
            yhyx :{ email: true },
            sfzh :{checkIDCard: true}
        }, messages : {
            ensurePassword : {
                equalTo : function(){layer.msg("密码输入不一致！");}
            },
            yhyx : {
                email : function(){layer.msg("请输入正确的邮箱！");}
            }
        },
        submitHandler: function(f) {
            $("#userInput-ssbm-content").removeAttr("disabled");
            $("#userInput-zw-content").removeAttr("disabled");
            $("#userInput-js-content").removeAttr("disabled");
            $.ajax({
                url : '/admin/user.do?save',
                type: 'post',
                data : $(f).serialize(),
                dataType : 'json',
                success: function(res) {
                    layer.msg(res.title);
                    if(res.success){
                        setTimeout(function(){ userInput_back(); }, 500);
                    }
                },
                error: function(data) {
                    layer.msg(data);
                }
            });
        }
    });
</script>
</html>